flows.json
[
    {
        "id": "ae92a0a869ca847f",
        "type": "tab",
        "label": "Dev Kit",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "69eda29bc338202b",
        "type": "tab",
        "label": "MQTT Methods",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f1b6adf3.7e2d68",
        "type": "tab",
        "label": "Reboot Raspberry Pi",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f9b137cda6a41cc8",
        "type": "group",
        "z": "ae92a0a869ca847f",
        "g": "349e8016ec7515c6",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f142197f943e06c3",
            "ba32092924c21704"
        ],
        "x": 54,
        "y": 279,
        "w": 252,
        "h": 122
    },
    {
        "id": "e42e71164274acdc",
        "type": "group",
        "z": "ae92a0a869ca847f",
        "g": "349e8016ec7515c6",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "09145421eca576b2",
            "96d4f5ed69c26184"
        ],
        "x": 314,
        "y": 279,
        "w": 272,
        "h": 122
    },
    {
        "id": "a2eff4bb38731253",
        "type": "group",
        "z": "ae92a0a869ca847f",
        "g": "349e8016ec7515c6",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f467dd95ca327abe",
            "9460aed131d64851"
        ],
        "x": 594,
        "y": 279,
        "w": 252,
        "h": 122
    },
    {
        "id": "349e8016ec7515c6",
        "type": "group",
        "z": "ae92a0a869ca847f",
        "name": "Text Fields",
        "style": {
            "label": true
        },
        "nodes": [
            "f9b137cda6a41cc8",
            "e42e71164274acdc",
            "a2eff4bb38731253"
        ],
        "x": 28,
        "y": 253,
        "w": 844,
        "h": 174
    },
    {
        "id": "224fcab0880dd093",
        "type": "group",
        "z": "ae92a0a869ca847f",
        "name": "Slider",
        "style": {
            "label": true
        },
        "nodes": [
            "b2b82b3ee278d4bc",
            "cead53fe6d7fe793"
        ],
        "x": 34,
        "y": 459,
        "w": 232,
        "h": 122
    },
    {
        "id": "951b589e9ecbbb70",
        "type": "group",
        "z": "ae92a0a869ca847f",
        "name": "Button toggles",
        "style": {
            "label": true
        },
        "nodes": [
            "7777baf58bd1bc87",
            "a43e9d9c640f6a51"
        ],
        "x": 34,
        "y": 599,
        "w": 292,
        "h": 122
    },
    {
        "id": "0d9513e4fa8e671f",
        "type": "group",
        "z": "ae92a0a869ca847f",
        "name": "generic",
        "style": {
            "label": true
        },
        "nodes": [
            "6d725e9d6e6752bd"
        ],
        "x": 34,
        "y": 19,
        "w": 192,
        "h": 82
    },
    {
        "id": "9ac62e47f20b26b7",
        "type": "group",
        "z": "ae92a0a869ca847f",
        "name": "Preview",
        "style": {
            "label": true
        },
        "nodes": [
            "eeeea47645f9daca",
            "55bf230acc0db31a"
        ],
        "x": 34,
        "y": 739,
        "w": 232,
        "h": 122
    },
    {
        "id": "f6e28f1fc85830b2",
        "type": "group",
        "z": "ae92a0a869ca847f",
        "name": "Textareas",
        "style": {
            "label": true
        },
        "nodes": [
            "ff04e338f28791c1",
            "a1de4783b40b22c7"
        ],
        "x": 34,
        "y": 879,
        "w": 252,
        "h": 122
    },
    {
        "id": "c4dc9bdc60c02255",
        "type": "group",
        "z": "ae92a0a869ca847f",
        "name": "Home",
        "style": {
            "label": true
        },
        "nodes": [
            "af21295c7ed58d76",
            "0666ca0a7a83550a"
        ],
        "x": 34,
        "y": 119,
        "w": 232,
        "h": 122
    },
    {
        "id": "f8c01569bc2d2351",
        "type": "group",
        "z": "ae92a0a869ca847f",
        "name": "Loading methods",
        "style": {
            "label": true
        },
        "nodes": [
            "bdd5061dc2808c7b",
            "c7af759e6348052a",
            "f8450ada286a255f",
            "05f282f697c8d264",
            "1c2b9fbce068ea00",
            "9496c5ceae312a6b"
        ],
        "x": 34,
        "y": 1039,
        "w": 1192,
        "h": 162
    },
    {
        "id": "c0721ac2a3ae24b9",
        "type": "group",
        "z": "ae92a0a869ca847f",
        "name": "Get and set variable in Global",
        "style": {
            "label": true
        },
        "nodes": [
            "bdef59faea812013",
            "5a9af1c11b3c3c31",
            "fc73d6b9b216ac9c",
            "e3f11510712aac2d",
            "be327c38d0d4571c"
        ],
        "x": 34,
        "y": 1219,
        "w": 712,
        "h": 202
    },
    {
        "id": "3f7d2b5e66b2e952",
        "type": "group",
        "z": "ae92a0a869ca847f",
        "name": "Light",
        "style": {
            "label": true
        },
        "nodes": [
            "63ce2a7abac6c383",
            "a78e68ca113d604d",
            "638086cbd09bb92b",
            "feacde592b9f5242"
        ],
        "x": 34,
        "y": 1439,
        "w": 372,
        "h": 142
    },
    {
        "id": "b80e1a185f7e6534",
        "type": "group",
        "z": "ae92a0a869ca847f",
        "name": "Focus",
        "style": {
            "label": true
        },
        "nodes": [
            "fa4c8c9a96beb602",
            "70f6137594caf82d",
            "c4686819dd2d651d",
            "5fcad47dcb0de5b5"
        ],
        "x": 34,
        "y": 1619,
        "w": 692,
        "h": 142
    },
    {
        "id": "d9ac3768c4ec355e",
        "type": "group",
        "z": "ae92a0a869ca847f",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "8d1df3a3.e4fbc8",
            "3c1f2b6d.c3d0d4"
        ],
        "x": 34,
        "y": 1791.5,
        "w": 442,
        "h": 97
    },
    {
        "id": "e6ae26617c24c3ea",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": true,
        "showPageTitle": false,
        "navigationStyle": "fixed",
        "titleBarStyle": "fixed",
        "showReconnectNotification": true,
        "notificationDisplayTime": "1",
        "showDisconnectNotification": true
    },
    {
        "id": "acdf17df5536b1d3",
        "type": "ui-theme",
        "name": "FairScope Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "10px",
            "groupGap": "10px",
            "groupBorderRadius": "0px",
            "widgetGap": "10px"
        }
    },
    {
        "id": "b9f88d899abc43e6",
        "type": "ui-page",
        "name": "Dev Kit",
        "ui": "e6ae26617c24c3ea",
        "path": "/devkit",
        "icon": "mdi-database-plus",
        "layout": "tabs",
        "theme": "acdf17df5536b1d3",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "3496e96aaf509c63",
        "type": "ui-group",
        "name": "Generic",
        "page": "b9f88d899abc43e6",
        "width": "12",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "0b938df814df6f89",
        "type": "ui-group",
        "name": "Text fields",
        "page": "b9f88d899abc43e6",
        "width": "12",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "4b77e32bb8af68b1",
        "type": "ui-group",
        "name": "Loading methods",
        "page": "b9f88d899abc43e6",
        "width": "12",
        "height": "1",
        "order": 8,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "42ad8472e579096e",
        "type": "ui-group",
        "name": "Sliders",
        "page": "b9f88d899abc43e6",
        "width": "12",
        "height": "1",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e461e16bf6fe45b0",
        "type": "ui-group",
        "name": "Button toggles",
        "page": "b9f88d899abc43e6",
        "width": "12",
        "height": "1",
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "50ffa74807da3b14",
        "type": "mqtt-broker",
        "name": "",
        "broker": "0.0.0.0",
        "port": "1883",
        "clientid": "Client_node",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c503a4c01451fec2",
        "type": "ui-group",
        "name": "Preview",
        "page": "b9f88d899abc43e6",
        "width": "12",
        "height": "1",
        "order": 6,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "9919d82f68c7a152",
        "type": "ui-group",
        "name": "Textareas",
        "page": "b9f88d899abc43e6",
        "width": "12",
        "height": "1",
        "order": 7,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "2ca4adc305fbadd5",
        "type": "ui-group",
        "name": "Home",
        "page": "b9f88d899abc43e6",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "72483a7aac978971",
        "type": "ui-group",
        "name": "Get and set variable in Global",
        "page": "b9f88d899abc43e6",
        "width": "12",
        "height": "1",
        "order": 9,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "f142197f943e06c3",
        "type": "ui-template",
        "z": "ae92a0a869ca847f",
        "g": "f9b137cda6a41cc8",
        "group": "0b938df814df6f89",
        "page": "",
        "ui": "",
        "name": "template with dialog",
        "order": 1,
        "width": "4",
        "height": "1",
        "head": "",
        "format": "<template>\n  <div>\n    <v-text-field\n    type=\"number\"\n      label=\"Prepend inner\"\n      prepend-inner-icon=\"mdi-information-outline\"\n      variant=\"outlined\"\n      suffix=\"suffix\"\n      density=\"compact\"\n      clearable\n      @click:prepend-inner=\"showDialog = true\"\n    ></v-text-field>\n\n    <v-dialog v-model=\"showDialog\" max-width=\"500px\">\n      <v-card>\n        <v-card-title> Information </v-card-title>\n        <v-card-text>\n          This is some additional information displayed in a dialog.\n        </v-card-text>\n        <v-card-actions>\n          <v-btn text @click=\"showDialog = false\">Close</v-btn>\n        </v-card-actions>\n      </v-card>\n    </v-dialog>\n  </div>\n</template>\n\n<script>\n  export default {\n    data() {\n      return {\n        showDialog: false, // Controls dialog visibility\n      }\n    },\n  }\n</script>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 180,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "ba32092924c21704",
        "type": "ui-markdown",
        "z": "ae92a0a869ca847f",
        "g": "f9b137cda6a41cc8",
        "group": "0b938df814df6f89",
        "name": "template with dialog",
        "order": 4,
        "width": "4",
        "height": "1",
        "content": "# Template with dialog\n```html\n<template>\n  <div>\n    <v-text-field\n      label=\"Prepend inner\"\n      prepend-inner-icon=\"mdi-information-outline\"\n      variant=\"outlined\"\n      suffix=\"suffix\"\n      density=\"compact\"\n      @click:prepend-inner=\"showDialog = true\"\n    ></v-text-field>\n\n    <v-dialog v-model=\"showDialog\" max-width=\"500px\">\n      <v-card>\n        <v-card-title> Information </v-card-title>\n        <v-card-text>\n          This is some additional information displayed in a dialog.\n        </v-card-text>\n        <v-card-actions>\n          <v-btn text @click=\"showDialog = false\">Close</v-btn>\n        </v-card-actions>\n      </v-card>\n    </v-dialog>\n  </div>\n</template>\n\n<script>\n  export default {\n    data() {\n      return {\n        showDialog: false, // Controls dialog visibility\n      }\n    },\n  }\n</script>\n\n```",
        "className": "",
        "x": 180,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "09145421eca576b2",
        "type": "ui-template",
        "z": "ae92a0a869ca847f",
        "g": "e42e71164274acdc",
        "group": "0b938df814df6f89",
        "page": "",
        "ui": "",
        "name": "template persistent hint",
        "order": 3,
        "width": "4",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-text-field\n    type=\"number\"\n      label=\"Label\"\n      variant=\"outlined\"\n      suffix=\"suffix\"\n      density=\"compact\"\n      clearable\n      persistent-hint\n      hint=\"This is some additional information displayed in a hint.\"\n    ></v-text-field>\n</template>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 450,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "f467dd95ca327abe",
        "type": "ui-template",
        "z": "ae92a0a869ca847f",
        "g": "a2eff4bb38731253",
        "group": "0b938df814df6f89",
        "page": "",
        "ui": "",
        "name": "template hidden hint",
        "order": 2,
        "width": "4",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-text-field\n    type=\"number\"\n      label=\"Label\"\n      variant=\"outlined\"\n      suffix=\"suffix\"\n      density=\"compact\"\n      clearable\n      hint=\"This is some additional information displayed in a hint.\"\n    ></v-text-field>\n\n</template>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 720,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "96d4f5ed69c26184",
        "type": "ui-markdown",
        "z": "ae92a0a869ca847f",
        "g": "e42e71164274acdc",
        "group": "0b938df814df6f89",
        "name": "template persistent hint",
        "order": 6,
        "width": "4",
        "height": "1",
        "content": "# Template persistent hint\n```html\n<template>\n    <v-text-field\n    type=\"number\"\n      label=\"Label\"\n      variant=\"outlined\"\n      suffix=\"suffix\"\n      density=\"compact\"\n      clearable\n      persistent-hint\n      hint=\"This is some additional information displayed in a hint.\"\n    ></v-text-field>\n</template>\n\n```",
        "className": "",
        "x": 450,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "9460aed131d64851",
        "type": "ui-markdown",
        "z": "ae92a0a869ca847f",
        "g": "a2eff4bb38731253",
        "group": "0b938df814df6f89",
        "name": "template hidden hint",
        "order": 5,
        "width": "4",
        "height": "1",
        "content": "# Template hidden hint\n```html\n<template>\n    <v-text-field\n    type=\"number\"\n      label=\"Label\"\n      variant=\"outlined\"\n      suffix=\"suffix\"\n      density=\"compact\"\n      clearable\n      hint=\"This is some additional information displayed in a hint.\"\n    ></v-text-field>\n</template>\n\n```",
        "className": "",
        "x": 720,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "b2b82b3ee278d4bc",
        "type": "ui-template",
        "z": "ae92a0a869ca847f",
        "g": "224fcab0880dd093",
        "group": "42ad8472e579096e",
        "page": "",
        "ui": "",
        "name": "Sliders",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <v-card class=\"ma-20 pa-2\">\n    <v-row class=\"ma-20 pa-2\">\n      <v-col cols=\"12\" sm=\"10\">\n        <v-slider\n          v-model=\"slider\"\n          :max=\"max\"\n          :min=\"min\"\n          :step=\"0.2\"\n          class=\"align-center\"\n          hide-details\n          label=\"Label\"\n          :thumb-size=\"30\"\n        />\n      </v-col>\n      <v-col cols=\"12\" sm=\"2\">\n        <v-text-field\n          v-model=\"slider\"\n          prepend-inner-icon=\"mdi-information-outline\"\n          type=\"number\"\n          variant=\"outlined\"\n          hide-details\n          suffix=\"suffix\"\n          density=\"compact\"\n          @click:prepend-inner=\"showDialog = true\"\n        />\n        <v-dialog v-model=\"showDialog\" max-width=\"500px\">\n          <v-card>\n            <v-card-title>Information</v-card-title>\n            <v-card-text>\n              This is some additional information displayed in a dialog.\n            </v-card-text>\n            <v-card-actions>\n              <v-btn text @click=\"showDialog = false\">Close</v-btn>\n            </v-card-actions>\n          </v-card>\n        </v-dialog>\n      </v-col>\n    </v-row>\n  </v-card>\n</template>\n\n<script>\n  export default {\n    data() {\n      return {\n        showDialog: false, // Controls dialog visibility\n        min: -50,\n        max: 90,\n        slider: 40,\n      }\n    },\n  }\n</script>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 110,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "cead53fe6d7fe793",
        "type": "ui-markdown",
        "z": "ae92a0a869ca847f",
        "g": "224fcab0880dd093",
        "group": "42ad8472e579096e",
        "name": "Slides description",
        "order": 2,
        "width": "0",
        "height": "0",
        "content": "# Template for slider\n```html\n<template>\n  <v-card class=\"ma-20 pa-2\">\n    <v-row class=\"ma-20 pa-2\">\n      <v-col cols=\"12\" sm=\"10\">\n        <v-slider\n          v-model=\"slider\"\n          :max=\"max\"\n          :min=\"min\"\n          :step=\"0.2\"\n          class=\"align-center\"\n          hide-details\n          label=\"Label\"\n          :thumb-size=\"30\"\n        />\n      </v-col>\n      <v-col cols=\"12\" sm=\"2\">\n        <v-text-field\n          v-model=\"slider\"\n          prepend-inner-icon=\"mdi-information-outline\"\n          type=\"number\"\n          variant=\"outlined\"\n          hide-details\n          suffix=\"suffix\"\n          density=\"compact\"\n          @click:prepend-inner=\"showDialog = true\"\n        />\n        <v-dialog v-model=\"showDialog\" max-width=\"500px\">\n          <v-card>\n            <v-card-title>Information</v-card-title>\n            <v-card-text>\n              This is some additional information displayed in a dialog.\n            </v-card-text>\n            <v-card-actions>\n              <v-btn text @click=\"showDialog = false\">Close</v-btn>\n            </v-card-actions>\n          </v-card>\n        </v-dialog>\n      </v-col>\n    </v-row>\n  </v-card>\n</template>\n\n<script>\n  export default {\n    data() {\n      return {\n        showDialog: false, // Controls dialog visibility\n        min: -50,\n        max: 90,\n        slider: 40,\n      }\n    },\n  }\n</script>\n```",
        "className": "",
        "x": 150,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "7777baf58bd1bc87",
        "type": "ui-template",
        "z": "ae92a0a869ca847f",
        "g": "951b589e9ecbbb70",
        "group": "e461e16bf6fe45b0",
        "page": "",
        "ui": "",
        "name": "Button toggles",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <v-btn-toggle\n    v-model=\"toggle_btn\"\n    color=\"primary\"\n    mandatory\n    shaped\n    class=\"d-flex justify-space-between\"\n  >\n    <v-btn class=\"flex-grow-1\"> 1 </v-btn>\n\n    <v-btn class=\"flex-grow-1\"> 2 </v-btn>\n\n    <v-btn class=\"flex-grow-1\"> 3 </v-btn>\n\n    <v-btn class=\"flex-grow-1\"> 4 </v-btn>\n  </v-btn-toggle>\n</template>\n\n<script>\n  export default {\n    data() {\n      return {\n        toggle_btn: 0,\n      }\n    },\n  }\n</script>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 140,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "a43e9d9c640f6a51",
        "type": "ui-markdown",
        "z": "ae92a0a869ca847f",
        "g": "951b589e9ecbbb70",
        "group": "e461e16bf6fe45b0",
        "name": "Button toggles description",
        "order": 2,
        "width": "0",
        "height": "0",
        "content": "# Template for btn group\n\n```html\n<template>\n  <v-btn-toggle\n    v-model=\"toggle_btn\"\n    color=\"primary\"\n    mandatory\n    shaped\n    class=\"d-flex justify-space-between\"\n  >\n    <v-btn class=\"flex-grow-1\"> 1 </v-btn>\n\n    <v-btn class=\"flex-grow-1\"> 2 </v-btn>\n\n    <v-btn class=\"flex-grow-1\"> 3 </v-btn>\n\n    <v-btn class=\"flex-grow-1\"> 4 </v-btn>\n  </v-btn-toggle>\n</template>\n\n<script>\n  export default {\n    data() {\n      return {\n        toggle_btn: 0,\n      }\n    },\n  }\n</script>\n\n```",
        "className": "",
        "x": 180,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "6d725e9d6e6752bd",
        "type": "ui-markdown",
        "z": "ae92a0a869ca847f",
        "g": "0d9513e4fa8e671f",
        "group": "3496e96aaf509c63",
        "name": "Vuetify links",
        "order": 1,
        "width": 0,
        "height": 0,
        "content": "# Vuetify Resources and Examples\n\nThis document provides useful links and references for working with Vuetify components, icons, and examples.\n\n## Vuetify Documentation\n- **Component Usage**: Learn how to use components in Vuetify.  \n  [View Documentation](https://vuetifyjs.com/en/components/all/#containment)\n\n- **API Reference**: Explore the full API details for `v-field`.  \n  [View API](https://vuetifyjs.com/en/api/v-field/)\n\n## Icons\n- **Material Design Icons**: Access the Material Design Icons (MDI) library for Vuetify projects.  \n  [Explore Icons](https://pictogrammers.github.io/@mdi/font/2.0.46/)\n\n## Code Playground\n- **Vue Play**: Experiment with Vue.js and Vuetify components in an interactive playground.  \n  [Open Playground](https://play.vuetifyjs.com/#eNrFVdtu2kAQ/ZWV1UdsQ2jUyKIRacVDq6qNClIf4jws9hg2We9ae+HSKP/e2TUYQ0IUibaRAMvnzM7MOR7GNw+BVll8VVXRwkKQBAMDZcWpgctUEDJYhJkUhjIBihTcstzDnlByubnZxHGCX/0xDd6nQcN4TtvpHGgO6vJaQcFWpJCK5JJzqkhmlQKRrQdxO65JjChmPVLo4rCQgZUJCwY8J5xOgWPMVSmtMGlAFpRbQKDXjbpdvK98Kwi8wyyuzu7wkfLurlZ9mgljW2xNWAKbzc2/0v7LZ29pP7uotWvfAQJ8qt9QPZSUcRwEvIi/7MEOJo0dI1+O5rkCjbLbIVuDYEVx/GGfbNwazlyGKJNlO+DN7DOsBPJbCvgP3n1zVzLBmOeN650l/W7ihqvNmnXlSNfoEUuvx5NTvNwymx2FyCBubbCgExiNbMFm0Z2WAhfcgzuUBvgMK8ZB/agMkwKnISGecRzlXC6/eswoC50tns0hu38Gv9Mrh6EYHCxQC9TacIaqGaBnjh6Nv3v/GrKUuXXD9gL5E7Tk1vVYh32yIse2W3G+2y9lJZVhYjbRo5UBobeiXKMu8tHHpwFu+c8vSN+124/6/lwq8IM+Ml8hLGl14GRN7KfBKnW7c2MqncRxlgs8lgNnCxUJMLGoyniIYbHC7YzjEeIWGPaj86jXj3OmTRuPQJfhFB84motZWtoxgWHF+hW1NpFY4kN0XlfYQCGOuHYlnqSO/cNUIb6f8H/lTH+dpINje7IOuCfS9jznTNzrw8F1qyshNyfq9Wlu60KPHWE59z+3fwDtNYW9)\n\n",
        "className": "",
        "x": 130,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "eeeea47645f9daca",
        "type": "ui-markdown",
        "z": "ae92a0a869ca847f",
        "g": "9ac62e47f20b26b7",
        "group": "c503a4c01451fec2",
        "name": "Preview description",
        "order": 2,
        "width": "0",
        "height": "0",
        "content": "# Template for preview\n\n## Option 1 - ElevateZoom from jQuery\n\nUse the library depending on jQuery - [ElevateZoom](https://igorlino.github.io/elevatezoom-plus/)\n\n```html\n<script src=\"https://code.jquery.com/jquery-3.6.4.min.js\"></script>\n<script src=\"https://cdn.jsdelivr.net/gh/igorlino/elevatezoom-plus@1.1.6/src/jquery.ez-plus.js\"></script>\n\n<div>\n  <img \n    id=\"zoom\" \n    src=\"http://90.28.148.199/ps/hal/camera/streams/preview.mjpg\" \n    data-zoom-image=\"http://90.28.148.199/ps/hal/camera/streams/preview.mjpg\" \n    alt=\"Live camera stream with zoom feature\" \n  />\n</div>\n\n<script>\n  $(document).ready(function () {\n    $('#zoom').ezPlus({\n      scrollZoom: true,      \n    });\n  });\n</script>\n```\n## Option 2 - ngx-image-zoom from AngularJS\n\nUse the pure Angular library - [ngx-image-zoom](https://www.npmjs.com/package/ngx-image-zoom)\n",
        "className": "",
        "x": 150,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "55bf230acc0db31a",
        "type": "ui-template",
        "z": "ae92a0a869ca847f",
        "g": "9ac62e47f20b26b7",
        "group": "c503a4c01451fec2",
        "page": "",
        "ui": "",
        "name": "Preview",
        "order": 1,
        "width": "12",
        "height": "1",
        "head": "",
        "format": "<!-- Include jQuery and ElevateZoom-Plus -->\n<script src=\"https://code.jquery.com/jquery-3.6.4.min.js\"></script>\n<script src=\"https://cdn.jsdelivr.net/gh/igorlino/elevatezoom-plus@1.1.6/src/jquery.ez-plus.js\"></script>\n\n<!-- Zoomable Image -->\n<template>\n  <v-row>\n    <v-col cols=\"8\">\n      <v-card variant=\"outlined\" width=\"auto\" height=\"800px\" class=\"pa-0 ma-0\"\n        ><img\n          id=\"zoom\"\n          src=\"http://90.28.148.199/ps/hal/camera/streams/preview.mjpg\"\n          data-zoom-image=\"http://90.28.148.199/ps/hal/camera/streams/preview.mjpg\"\n          alt=\"Live camera stream with zoom feature\"\n          style=\"\n            transform: rotate(-90deg);\n            margin-left: -100px;\n            margin-top: 100px;\n          \"\n          width=\"800px\"\n          height=\"600px\"\n      /></v-card>\n    </v-col>\n    <v-col cols=\"4\">\n      <v-text-field\n        type=\"number\"\n        label=\"Label\"\n        variant=\"outlined\"\n        suffix=\"suffix\"\n        density=\"compact\"\n        clearable\n        hint=\"This is some additional information displayed in a hint.\"\n      ></v-text-field>\n      <v-text-field\n        type=\"number\"\n        label=\"Label\"\n        variant=\"outlined\"\n        suffix=\"suffix\"\n        density=\"compact\"\n        clearable\n        hint=\"This is some additional information displayed in a hint.\"\n      ></v-text-field>\n      <v-text-field\n        type=\"number\"\n        label=\"Label\"\n        variant=\"outlined\"\n        suffix=\"suffix\"\n        density=\"compact\"\n        clearable\n        hint=\"This is some additional information displayed in a hint.\"\n      ></v-text-field>\n      <v-text-field\n        type=\"number\"\n        label=\"Label\"\n        variant=\"outlined\"\n        suffix=\"suffix\"\n        density=\"compact\"\n        clearable\n        hint=\"This is some additional information displayed in a hint.\"\n      ></v-text-field>\n      <v-text-field\n        type=\"number\"\n        label=\"Label\"\n        variant=\"outlined\"\n        suffix=\"suffix\"\n        density=\"compact\"\n        clearable\n        hint=\"This is some additional information displayed in a hint.\"\n      ></v-text-field>\n      <v-text-field\n        type=\"number\"\n        label=\"Label\"\n        variant=\"outlined\"\n        suffix=\"suffix\"\n        density=\"compact\"\n        clearable\n        hint=\"This is some additional information displayed in a hint.\"\n      ></v-text-field>\n      <v-text-field\n        type=\"number\"\n        label=\"Label\"\n        variant=\"outlined\"\n        suffix=\"suffix\"\n        density=\"compact\"\n        clearable\n        hint=\"This is some additional information displayed in a hint.\"\n      ></v-text-field>\n      <v-text-field\n        type=\"number\"\n        label=\"Label\"\n        variant=\"outlined\"\n        suffix=\"suffix\"\n        density=\"compact\"\n        clearable\n        hint=\"This is some additional information displayed in a hint.\"\n      ></v-text-field>\n      <v-text-field\n        type=\"number\"\n        label=\"Label\"\n        variant=\"outlined\"\n        suffix=\"suffix\"\n        density=\"compact\"\n        clearable\n        hint=\"This is some additional information displayed in a hint.\"\n      ></v-text-field>\n      <v-text-field\n        type=\"number\"\n        label=\"Label\"\n        variant=\"outlined\"\n        suffix=\"suffix\"\n        density=\"compact\"\n        clearable\n        hint=\"This is some additional information displayed in a hint.\"\n      ></v-text-field>\n    </v-col>\n  </v-row>\n</template>\n\n\n<!-- Activate Zoom -->\n<script>\n  $(document).ready(function () {\n    $('#zoom').ezPlus({\n      scrollZoom: true,       // Enable scroll zoom\n    });\n  });\n</script>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 120,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "ff04e338f28791c1",
        "type": "ui-markdown",
        "z": "ae92a0a869ca847f",
        "g": "f6e28f1fc85830b2",
        "group": "9919d82f68c7a152",
        "name": "Textareas description",
        "order": 2,
        "width": "0",
        "height": "0",
        "content": "# Template for Textareas\n\n```html\n<template>\n  <v-textarea\n    clearable\n    label=\"Label\"\n    variant=\"outlined\"\n    row-height=\"20\"\n    rows=\"2\"\n  ></v-textarea>\n</template>\n\n\n```",
        "className": "",
        "x": 160,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "a1de4783b40b22c7",
        "type": "ui-template",
        "z": "ae92a0a869ca847f",
        "g": "f6e28f1fc85830b2",
        "group": "9919d82f68c7a152",
        "page": "",
        "ui": "",
        "name": "Textareas",
        "order": 1,
        "width": "12",
        "height": "1",
        "head": "",
        "format": "<template>\n  <v-textarea\n    clearable\n    label=\"Label\"\n    variant=\"outlined\"\n    row-height=\"20\"\n    rows=\"2\"\n  ></v-textarea>\n</template>\n\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 120,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "af21295c7ed58d76",
        "type": "ui-template",
        "z": "ae92a0a869ca847f",
        "g": "c4dc9bdc60c02255",
        "group": "2ca4adc305fbadd5",
        "page": "",
        "ui": "",
        "name": "Home",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <v-empty-state\n    headline=\"Welcome,\"\n    icon=\"$vuetify\"\n    title=\"What would you like to do today?\"\n  >\n    <v-container>\n      <v-row>\n        <v-col cols=\"12\" md=\"6\">\n          <v-card\n            href=\"https://vuetifyjs.com/introduction/why-vuetify/#feature-guides\"\n            prepend-icon=\"$vuetify\"\n            target=\"_blank\"\n            text=\"Start with our dedicated feature guides\"\n            title=\"Learn Vuetify\"\n          ></v-card>\n        </v-col>\n\n        <v-col cols=\"12\" md=\"6\">\n          <v-card\n            href=\"https://play.vuetifyjs.com\"\n            prepend-icon=\"$vuetify-play\"\n            target=\"_blank\"\n            text=\"Test Vuetify out in our playground\"\n            title=\"Create a Playground\"\n          ></v-card>\n        </v-col>\n\n        <v-col cols=\"12\" md=\"6\">\n          <v-card\n            href=\"https://bin.vuetifyjs.com\"\n            prepend-icon=\"mdi-delete\"\n            target=\"_blank\"\n            text=\"Create a new bin to store your code\"\n            title=\"Create a Bin\"\n          ></v-card>\n        </v-col>\n\n        <v-col cols=\"12\" md=\"6\">\n          <v-card\n            href=\"https://issues.vuetifyjs.com\"\n            prepend-icon=\"$warning\"\n            target=\"_blank\"\n            text=\"File a bug report for Vuetify\"\n            title=\"Report a Bug\"\n          ></v-card>\n        </v-col>\n      </v-row>\n    </v-container>\n  </v-empty-state>\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 110,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "0666ca0a7a83550a",
        "type": "ui-markdown",
        "z": "ae92a0a869ca847f",
        "g": "c4dc9bdc60c02255",
        "group": "2ca4adc305fbadd5",
        "name": "Home description",
        "order": 2,
        "width": "0",
        "height": "0",
        "content": "# Template for Home\n```html\n<template>\n  <v-empty-state\n    headline=\"Welcome,\"\n    icon=\"$vuetify\"\n    title=\"What would you like to do today?\"\n  >\n    <v-container>\n      <v-row>\n        <v-col cols=\"12\" md=\"6\">\n          <v-card\n            href=\"https://vuetifyjs.com/introduction/why-vuetify/#feature-guides\"\n            prepend-icon=\"$vuetify\"\n            target=\"_blank\"\n            text=\"Start with our dedicated feature guides\"\n            title=\"Learn Vuetify\"\n          ></v-card>\n        </v-col>\n\n        <v-col cols=\"12\" md=\"6\">\n          <v-card\n            href=\"https://play.vuetifyjs.com\"\n            prepend-icon=\"$vuetify-play\"\n            target=\"_blank\"\n            text=\"Test Vuetify out in our playground\"\n            title=\"Create a Playground\"\n          ></v-card>\n        </v-col>\n\n        <v-col cols=\"12\" md=\"6\">\n          <v-card\n            href=\"https://bin.vuetifyjs.com\"\n            prepend-icon=\"mdi-delete\"\n            target=\"_blank\"\n            text=\"Create a new bin to store your code\"\n            title=\"Create a Bin\"\n          ></v-card>\n        </v-col>\n\n        <v-col cols=\"12\" md=\"6\">\n          <v-card\n            href=\"https://issues.vuetifyjs.com\"\n            prepend-icon=\"$warning\"\n            target=\"_blank\"\n            text=\"File a bug report for Vuetify\"\n            title=\"Report a Bug\"\n          ></v-card>\n        </v-col>\n      </v-row>\n    </v-container>\n  </v-empty-state>\n</template>\n```",
        "className": "",
        "x": 150,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "bdd5061dc2808c7b",
        "type": "ui-event",
        "z": "ae92a0a869ca847f",
        "g": "f8c01569bc2d2351",
        "ui": "e6ae26617c24c3ea",
        "name": "UI Event",
        "x": 120,
        "y": 1080,
        "wires": [
            [
                "c7af759e6348052a"
            ]
        ]
    },
    {
        "id": "c7af759e6348052a",
        "type": "switch",
        "z": "ae92a0a869ca847f",
        "g": "f8c01569bc2d2351",
        "name": "msg.topic === \"$pageview\"",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "$pageview",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 380,
        "y": 1080,
        "wires": [
            [
                "05f282f697c8d264"
            ]
        ]
    },
    {
        "id": "f8450ada286a255f",
        "type": "debug",
        "z": "ae92a0a869ca847f",
        "g": "f8c01569bc2d2351",
        "name": "msg.payload.page.path",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.page.path",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 1080,
        "wires": []
    },
    {
        "id": "05f282f697c8d264",
        "type": "switch",
        "z": "ae92a0a869ca847f",
        "g": "f8c01569bc2d2351",
        "name": "msg.payload.page.path === \"/home\"",
        "property": "payload.page.path",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/load",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 730,
        "y": 1080,
        "wires": [
            [
                "f8450ada286a255f"
            ]
        ]
    },
    {
        "id": "1c2b9fbce068ea00",
        "type": "ui-flowviewer",
        "z": "ae92a0a869ca847f",
        "g": "f8c01569bc2d2351",
        "name": "",
        "group": "4b77e32bb8af68b1",
        "order": 1,
        "width": "0",
        "flow": "[     {         \"id\": \"f8450ada286a255f\",         \"type\": \"debug\",         \"z\": \"061f6587029fa891\",         \"name\": \"msg.payload.page.path\",         \"active\": true,         \"tosidebar\": true,         \"console\": false,         \"tostatus\": false,         \"complete\": \"payload.page.path\",         \"targetType\": \"msg\",         \"statusVal\": \"\",         \"statusType\": \"auto\",         \"x\": 1030,         \"y\": 40,         \"wires\": []     },     {         \"id\": \"05f282f697c8d264\",         \"type\": \"switch\",         \"z\": \"061f6587029fa891\",         \"name\": \"msg.payload.page.path === \\\"/home\\\"\",         \"property\": \"payload.page.path\",         \"propertyType\": \"msg\",         \"rules\": [             {                 \"t\": \"eq\",                 \"v\": \"/load\",                 \"vt\": \"str\"             }         ],         \"checkall\": \"true\",         \"repair\": false,         \"outputs\": 1,         \"x\": 690,         \"y\": 40,         \"wires\": [             [                 \"f8450ada286a255f\",                 \"328128b08bc72b65\"             ]         ]     },     {         \"id\": \"c7af759e6348052a\",         \"type\": \"switch\",         \"z\": \"061f6587029fa891\",         \"name\": \"msg.topic === \\\"$pageview\\\"\",         \"property\": \"topic\",         \"propertyType\": \"msg\",         \"rules\": [             {                 \"t\": \"eq\",                 \"v\": \"$pageview\",                 \"vt\": \"str\"             }         ],         \"checkall\": \"true\",         \"repair\": false,         \"outputs\": 1,         \"x\": 340,         \"y\": 40,         \"wires\": [             [                 \"05f282f697c8d264\"             ]         ]     },     {         \"id\": \"bdd5061dc2808c7b\",         \"type\": \"ui-event\",         \"z\": \"061f6587029fa891\",         \"ui\": \"e6ae26617c24c3ea\",         \"name\": \"UI Event\",         \"x\": 80,         \"y\": 40,         \"wires\": [             [                 \"c7af759e6348052a\"             ]         ]     },     {         \"id\": \"e6ae26617c24c3ea\",         \"type\": \"ui-base\",         \"name\": \"My Dashboard\",         \"path\": \"/dashboard\",         \"appIcon\": \"\",         \"includeClientData\": true,         \"acceptsClientConfig\": [             \"ui-notification\",             \"ui-control\"         ],         \"showPathInSidebar\": true,         \"showPageTitle\": false,         \"navigationStyle\": \"fixed\",         \"titleBarStyle\": \"fixed\",         \"showReconnectNotification\": true,         \"notificationDisplayTime\": \"1\",         \"showDisconnectNotification\": true     } ]",
        "height": "0",
        "x": 1030,
        "y": 1120,
        "wires": []
    },
    {
        "id": "9496c5ceae312a6b",
        "type": "ui-markdown",
        "z": "ae92a0a869ca847f",
        "g": "f8c01569bc2d2351",
        "group": "4b77e32bb8af68b1",
        "name": "Illustration of the Flow",
        "order": 2,
        "width": 0,
        "height": 0,
        "content": "\n\n## Illustration of the Flow\n\n### **1. UI Event**\n**Node Name**: `UI Event`  \n**Description**: Captures user events from the dashboard (e.g., page navigation).  \n**Connected Dashboard**: `My Dashboard`.\n\n```javascript\n// Emits messages with the topic and page path when an event occurs.\n```\n\n---\n\n### **2. Switch: `$pageview`**\n**Node Name**: `msg.topic === \"$pageview\"`  \n**Description**: Filters messages where `msg.topic` equals `$pageview`, ensuring only page navigation events are processed.\n\n**Rule**:\n```javascript\nmsg.topic === \"$pageview\";\n```\n\n---\n\n### **3. Switch: `/load`**\n**Node Name**: `msg.payload.page.path === \"/load\"`  \n**Description**: Filters messages to pass only those where the page path matches `/load`.\n\n**Rule**:\n```javascript\nmsg.payload.page.path === \"/load\";\n```\n\n---\n\n### **4. Debug**\n**Node Name**: `msg.payload.page.path`  \n**Description**: Outputs the value of `msg.payload.page.path` to the debug sidebar in Node-RED for monitoring purposes.\n\n```javascript\n// Outputs:\n// msg.payload.page.path\n```\n\n---\n\n## Supporting Details\n\n- **Dashboard Base**: `My Dashboard`  \n  - Accessible at `/dashboard`.  \n  - Includes navigation and notification configurations for seamless user interaction.\n\n---\n",
        "className": "",
        "x": 1060,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "bdef59faea812013",
        "type": "ui-template",
        "z": "ae92a0a869ca847f",
        "g": "c0721ac2a3ae24b9",
        "group": "72483a7aac978971",
        "page": "",
        "ui": "",
        "name": "",
        "order": 2,
        "width": "0",
        "height": "0",
        "head": "",
        "format": "<template>\n    <v-text-field\n        label=\"My variable\"\n        variant=\"outlined\"\n        v-model=\"msg.variable\"\n      hide-details=\"auto\"\n        @update:model-value=\"send({ variable: msg.variable})\"\n    ></v-text-field>\n</template>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 380,
        "y": 1260,
        "wires": [
            [
                "fc73d6b9b216ac9c"
            ]
        ]
    },
    {
        "id": "5a9af1c11b3c3c31",
        "type": "function",
        "z": "ae92a0a869ca847f",
        "g": "c0721ac2a3ae24b9",
        "name": "get global variable",
        "func": "// Retrieve the global variable\nmsg.variable = global.get('variable');\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 1260,
        "wires": [
            [
                "bdef59faea812013"
            ]
        ]
    },
    {
        "id": "fc73d6b9b216ac9c",
        "type": "function",
        "z": "ae92a0a869ca847f",
        "g": "c0721ac2a3ae24b9",
        "name": "set global variable",
        "func": "// Set a value in the global context\nglobal.set('variable', msg.variable);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "e3f11510712aac2d",
        "type": "ui-markdown",
        "z": "ae92a0a869ca847f",
        "g": "c0721ac2a3ae24b9",
        "group": "72483a7aac978971",
        "name": "Illustration of the Flow",
        "order": 3,
        "width": 0,
        "height": 0,
        "content": "## Illustration of the Flow\n\n### **1. Get Global Variable**\n**Node Name**: `get global variable`  \n**Description**: Retrieves a global variable (`variable`) stored in the Node-RED context.\n\n```javascript\n// Retrieve the global variable\nmsg.variable = global.get('variable');\n\nreturn msg;\n```\n\n---\n\n### **2. Template**\n**Node Name**: `template`  \n**Description**: Displays a Vue.js-based text field in the user interface, allowing the user to view and update the global variable.\n\n```html\n<template>\n    <v-divider class=\"my-5\"></v-divider>\n    <v-text-field\n        label=\"My variable\"\n        variant=\"outlined\"\n        v-model=\"msg.variable\"\n        @update:model-value=\"send({ variable: msg.variable })\"\n    ></v-text-field>\n</template>\n```\n\n---\n\n### **3. Set Global Variable**\n**Node Name**: `set global variable`  \n**Description**: Updates the global variable (`variable`) with the value entered in the UI text field.\n\n```javascript\n// Set a value in the global context\nglobal.set('variable', msg.variable);\n\nreturn msg;\n```\n\n---\n\n## Supporting Details\n\n- **UI Group**: `Value and payloads`  \n  Groups the widgets under a dashboard section for better organization.\n\n- **UI Page**: `Data in global.json`  \n  Displays the group on a dashboard page accessible via the `/data` URL.\n\n- **Theme**: `FairScope Theme`  \n  Configures the visual style of the dashboard, using a clean and modern design with primary and background colors.\n",
        "className": "",
        "x": 620,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "be327c38d0d4571c",
        "type": "ui-flowviewer",
        "z": "ae92a0a869ca847f",
        "g": "c0721ac2a3ae24b9",
        "name": "",
        "group": "72483a7aac978971",
        "order": 1,
        "width": "0",
        "flow": "[     {         \"id\": \"5a9af1c11b3c3c31\",         \"type\": \"function\",         \"z\": \"775111265b9951a8\",         \"name\": \"get global variable\",         \"func\": \"// Retrieve the global variable\\nmsg.variable = global.get('variable');\\n\\nreturn msg;\\n\",         \"outputs\": 1,         \"timeout\": 0,         \"noerr\": 0,         \"initialize\": \"\",         \"finalize\": \"\",         \"libs\": [],         \"x\": 290,         \"y\": 40,         \"wires\": [             [                 \"bdef59faea812013\"             ]         ]     },     {         \"id\": \"bdef59faea812013\",         \"type\": \"ui-template\",         \"z\": \"775111265b9951a8\",         \"group\": \"9db62e7f60daa367\",         \"page\": \"\",         \"ui\": \"\",         \"name\": \"\",         \"order\": 2,         \"width\": \"6\",         \"height\": \"1\",         \"head\": \"\",         \"format\": \"<template>\\n    <v-text-field\\n        label=\\\"My variable\\\"\\n        variant=\\\"outlined\\\"\\n        v-model=\\\"msg.variable\\\"\\n      hide-details=\\\"auto\\\"\\n        @update:model-value=\\\"send({ variable: msg.variable})\\\"\\n    ></v-text-field>\\n</template>\\n\",         \"storeOutMessages\": true,         \"passthru\": true,         \"resendOnRefresh\": true,         \"templateScope\": \"local\",         \"className\": \"\",         \"x\": 520,         \"y\": 40,         \"wires\": [             [                 \"fc73d6b9b216ac9c\"             ]         ]     },     {         \"id\": \"fc73d6b9b216ac9c\",         \"type\": \"function\",         \"z\": \"775111265b9951a8\",         \"name\": \"set global variable\",         \"func\": \"// Set a value in the global context\\nglobal.set('variable', msg.variable);\\n\\nreturn msg;\\n\",         \"outputs\": 1,         \"timeout\": 0,         \"noerr\": 0,         \"initialize\": \"\",         \"finalize\": \"\",         \"libs\": [],         \"x\": 750,         \"y\": 40,         \"wires\": [             []         ]     },     {         \"id\": \"9db62e7f60daa367\",         \"type\": \"ui-group\",         \"name\": \"Get and set variable in Global\",         \"page\": \"69706da10df85266\",         \"width\": \"12\",         \"height\": \"1\",         \"order\": 1,         \"showTitle\": true,         \"className\": \"\",         \"visible\": \"true\",         \"disabled\": \"false\",         \"groupType\": \"default\"     },     {         \"id\": \"69706da10df85266\",         \"type\": \"ui-page\",         \"name\": \"Data in global.json\",         \"ui\": \"e6ae26617c24c3ea\",         \"path\": \"/data\",         \"icon\": \"mdi-database\",         \"layout\": \"grid\",         \"theme\": \"acdf17df5536b1d3\",         \"breakpoints\": [             {                 \"name\": \"Default\",                 \"px\": \"0\",                 \"cols\": \"3\"             },             {                 \"name\": \"Tablet\",                 \"px\": \"576\",                 \"cols\": \"6\"             },             {                 \"name\": \"Small Desktop\",                 \"px\": \"768\",                 \"cols\": \"9\"             },             {                 \"name\": \"Desktop\",                 \"px\": \"1024\",                 \"cols\": \"12\"             }         ],         \"order\": 2,         \"className\": \"\",         \"visible\": \"true\",         \"disabled\": \"false\"     },     {         \"id\": \"e6ae26617c24c3ea\",         \"type\": \"ui-base\",         \"name\": \"My Dashboard\",         \"path\": \"/dashboard\",         \"appIcon\": \"\",         \"includeClientData\": true,         \"acceptsClientConfig\": [             \"ui-notification\",             \"ui-control\"         ],         \"showPathInSidebar\": true,         \"showPageTitle\": false,         \"navigationStyle\": \"fixed\",         \"titleBarStyle\": \"fixed\",         \"showReconnectNotification\": true,         \"notificationDisplayTime\": \"1\",         \"showDisconnectNotification\": true     },     {         \"id\": \"acdf17df5536b1d3\",         \"type\": \"ui-theme\",         \"name\": \"FairScope Theme\",         \"colors\": {             \"surface\": \"#ffffff\",             \"primary\": \"#0094ce\",             \"bgPage\": \"#eeeeee\",             \"groupBg\": \"#ffffff\",             \"groupOutline\": \"#cccccc\"         },         \"sizes\": {             \"density\": \"default\",             \"pagePadding\": \"10px\",             \"groupGap\": \"10px\",             \"groupBorderRadius\": \"0px\",             \"widgetGap\": \"10px\"         }     } ]",
        "height": "0",
        "x": 590,
        "y": 1300,
        "wires": []
    },
    {
        "id": "63ce2a7abac6c383",
        "type": "mqtt out",
        "z": "ae92a0a869ca847f",
        "g": "3f7d2b5e66b2e952",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "50ffa74807da3b14",
        "x": 330,
        "y": 1480,
        "wires": []
    },
    {
        "id": "a78e68ca113d604d",
        "type": "inject",
        "z": "ae92a0a869ca847f",
        "g": "3f7d2b5e66b2e952",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "light",
        "payload": "{\"action\": \"on\"}",
        "payloadType": "json",
        "x": 170,
        "y": 1480,
        "wires": [
            [
                "63ce2a7abac6c383"
            ]
        ]
    },
    {
        "id": "638086cbd09bb92b",
        "type": "mqtt out",
        "z": "ae92a0a869ca847f",
        "g": "3f7d2b5e66b2e952",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "50ffa74807da3b14",
        "x": 330,
        "y": 1540,
        "wires": []
    },
    {
        "id": "feacde592b9f5242",
        "type": "inject",
        "z": "ae92a0a869ca847f",
        "g": "3f7d2b5e66b2e952",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "light",
        "payload": "{\"action\": \"off\"}",
        "payloadType": "json",
        "x": 170,
        "y": 1540,
        "wires": [
            [
                "638086cbd09bb92b"
            ]
        ]
    },
    {
        "id": "fa4c8c9a96beb602",
        "type": "mqtt out",
        "z": "ae92a0a869ca847f",
        "g": "b80e1a185f7e6534",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "50ffa74807da3b14",
        "x": 650,
        "y": 1660,
        "wires": []
    },
    {
        "id": "70f6137594caf82d",
        "type": "inject",
        "z": "ae92a0a869ca847f",
        "g": "b80e1a185f7e6534",
        "name": "{    \"action\": \"move\",    \"direction\": \"UP\",    \"distance\": 0.5,    \"speed\": 1}",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "actuator/focus",
        "payload": "{\"action\":\"move\",\"direction\":\"UP\",\"distance\":0.5,\"speed\":1}",
        "payloadType": "json",
        "x": 310,
        "y": 1660,
        "wires": [
            [
                "fa4c8c9a96beb602"
            ]
        ]
    },
    {
        "id": "c4686819dd2d651d",
        "type": "inject",
        "z": "ae92a0a869ca847f",
        "g": "b80e1a185f7e6534",
        "name": "{     \"action\": \"move\",     \"direction\": \"DOWN\",     \"distance\": 0.5,     \"speed\": 1 }",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "actuator/focus",
        "payload": "{\"action\":\"move\",\"direction\":\"DOWN\",\"distance\":0.5,\"speed\":1}",
        "payloadType": "json",
        "x": 330,
        "y": 1720,
        "wires": [
            [
                "5fcad47dcb0de5b5"
            ]
        ]
    },
    {
        "id": "5fcad47dcb0de5b5",
        "type": "mqtt out",
        "z": "ae92a0a869ca847f",
        "g": "b80e1a185f7e6534",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "50ffa74807da3b14",
        "x": 650,
        "y": 1720,
        "wires": []
    },
    {
        "id": "8d1df3a3.e4fbc8",
        "type": "inject",
        "z": "ae92a0a869ca847f",
        "g": "d9ac3768c4ec355e",
        "name": "Trigger Reboot",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1840,
        "wires": [
            [
                "3c1f2b6d.c3d0d4"
            ]
        ]
    },
    {
        "id": "3c1f2b6d.c3d0d4",
        "type": "exec",
        "z": "ae92a0a869ca847f",
        "g": "d9ac3768c4ec355e",
        "command": "sudo reboot",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Reboot Command",
        "x": 360,
        "y": 1840,
        "wires": [
            [],
            [],
            []
        ]
    }
]