flows.json
[
    {
        "id": "1b667c6443413ced",
        "type": "tab",
        "label": "Home",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ae92a0a869ca847f",
        "type": "tab",
        "label": "Dev Kit",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "69eda29bc338202b",
        "type": "tab",
        "label": "MQTT Methods",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f1b6adf3.7e2d68",
        "type": "tab",
        "label": "Reboot Raspberry Pi",
        "disabled": false,
        "info": ""
    },
    {
        "id": "399ca45d618adeb6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0df478d7aa1e10a5",
        "type": "tab",
        "label": "Add hardware information",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4da7ffd158faab70",
        "type": "tab",
        "label": "Display/Edit hardware information",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4ed26b8b.253504",
        "type": "subflow",
        "name": "Save hardware config",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "53d163be.47cf24"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "b7861ce703215a01",
        "type": "subflow",
        "name": "Load hardware config",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "0f16258953fae292"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 900,
                "y": 40,
                "wires": [
                    {
                        "id": "d0fbcd200cd09981",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "349e8016ec7515c6",
        "type": "group",
        "z": "ae92a0a869ca847f",
        "name": "Text Fields",
        "style": {
            "label": true
        },
        "nodes": [
            "f9b137cda6a41cc8",
            "e42e71164274acdc",
            "a2eff4bb38731253"
        ],
        "x": 28,
        "y": 253,
        "w": 844,
        "h": 174
    },
    {
        "id": "224fcab0880dd093",
        "type": "group",
        "z": "ae92a0a869ca847f",
        "name": "Slider",
        "style": {
            "label": true
        },
        "nodes": [
            "b2b82b3ee278d4bc",
            "cead53fe6d7fe793"
        ],
        "x": 34,
        "y": 459,
        "w": 232,
        "h": 122
    },
    {
        "id": "951b589e9ecbbb70",
        "type": "group",
        "z": "ae92a0a869ca847f",
        "name": "Button toggles",
        "style": {
            "label": true
        },
        "nodes": [
            "7777baf58bd1bc87",
            "a43e9d9c640f6a51"
        ],
        "x": 34,
        "y": 599,
        "w": 282,
        "h": 122
    },
    {
        "id": "0d9513e4fa8e671f",
        "type": "group",
        "z": "ae92a0a869ca847f",
        "name": "generic",
        "style": {
            "label": true
        },
        "nodes": [
            "6d725e9d6e6752bd"
        ],
        "x": 34,
        "y": 19,
        "w": 192,
        "h": 82
    },
    {
        "id": "9ac62e47f20b26b7",
        "type": "group",
        "z": "ae92a0a869ca847f",
        "name": "Preview",
        "style": {
            "label": true
        },
        "nodes": [
            "eeeea47645f9daca",
            "55bf230acc0db31a"
        ],
        "x": 34,
        "y": 739,
        "w": 232,
        "h": 122
    },
    {
        "id": "f6e28f1fc85830b2",
        "type": "group",
        "z": "ae92a0a869ca847f",
        "name": "Textareas",
        "style": {
            "label": true
        },
        "nodes": [
            "ff04e338f28791c1",
            "a1de4783b40b22c7"
        ],
        "x": 34,
        "y": 879,
        "w": 252,
        "h": 122
    },
    {
        "id": "c4dc9bdc60c02255",
        "type": "group",
        "z": "ae92a0a869ca847f",
        "name": "Home",
        "style": {
            "label": true
        },
        "nodes": [
            "af21295c7ed58d76",
            "0666ca0a7a83550a"
        ],
        "x": 34,
        "y": 119,
        "w": 232,
        "h": 122
    },
    {
        "id": "f8c01569bc2d2351",
        "type": "group",
        "z": "ae92a0a869ca847f",
        "name": "Loading methods",
        "style": {
            "label": true
        },
        "nodes": [
            "bdd5061dc2808c7b",
            "c7af759e6348052a",
            "f8450ada286a255f",
            "05f282f697c8d264",
            "1c2b9fbce068ea00",
            "9496c5ceae312a6b"
        ],
        "x": 34,
        "y": 1039,
        "w": 1192,
        "h": 162
    },
    {
        "id": "c0721ac2a3ae24b9",
        "type": "group",
        "z": "ae92a0a869ca847f",
        "name": "Get and set variable in Global",
        "style": {
            "label": true
        },
        "nodes": [
            "bdef59faea812013",
            "5a9af1c11b3c3c31",
            "fc73d6b9b216ac9c",
            "e3f11510712aac2d",
            "be327c38d0d4571c"
        ],
        "x": 34,
        "y": 1219,
        "w": 712,
        "h": 202
    },
    {
        "id": "3f7d2b5e66b2e952",
        "type": "group",
        "z": "ae92a0a869ca847f",
        "name": "Light",
        "style": {
            "label": true
        },
        "nodes": [
            "63ce2a7abac6c383",
            "a78e68ca113d604d",
            "638086cbd09bb92b",
            "feacde592b9f5242"
        ],
        "x": 34,
        "y": 1439,
        "w": 372,
        "h": 142
    },
    {
        "id": "b80e1a185f7e6534",
        "type": "group",
        "z": "ae92a0a869ca847f",
        "name": "Focus",
        "style": {
            "label": true
        },
        "nodes": [
            "fa4c8c9a96beb602",
            "70f6137594caf82d",
            "c4686819dd2d651d",
            "5fcad47dcb0de5b5"
        ],
        "x": 44,
        "y": 1619,
        "w": 682,
        "h": 142
    },
    {
        "id": "d9ac3768c4ec355e",
        "type": "group",
        "z": "ae92a0a869ca847f",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "8d1df3a3.e4fbc8",
            "3c1f2b6d.c3d0d4"
        ],
        "x": 34,
        "y": 1791.5,
        "w": 442,
        "h": 97
    },
    {
        "id": "f9b137cda6a41cc8",
        "type": "group",
        "z": "ae92a0a869ca847f",
        "g": "349e8016ec7515c6",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f142197f943e06c3",
            "ba32092924c21704"
        ],
        "x": 54,
        "y": 279,
        "w": 252,
        "h": 122
    },
    {
        "id": "e42e71164274acdc",
        "type": "group",
        "z": "ae92a0a869ca847f",
        "g": "349e8016ec7515c6",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "09145421eca576b2",
            "96d4f5ed69c26184"
        ],
        "x": 314,
        "y": 279,
        "w": 272,
        "h": 122
    },
    {
        "id": "a2eff4bb38731253",
        "type": "group",
        "z": "ae92a0a869ca847f",
        "g": "349e8016ec7515c6",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f467dd95ca327abe",
            "9460aed131d64851"
        ],
        "x": 594,
        "y": 279,
        "w": 252,
        "h": 122
    },
    {
        "id": "ddc4d1a32c2c30df",
        "type": "group",
        "z": "399ca45d618adeb6",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "bdc8ce57.de1f08",
            "f782a471.447748",
            "73b8252a.5ca754",
            "320847a9582ce01d",
            "dcbec46d6abde806",
            "85944c05779351c9",
            "c2980b57bfbe80f5",
            "ae02f2699e1cbb67",
            "0f7e6f26a012e702",
            "8df69db4303d52db",
            "064180b404fa14a3",
            "fd86ec025f116cde"
        ],
        "x": 34,
        "y": 119,
        "w": 832,
        "h": 262
    },
    {
        "id": "21f9961740730e58",
        "type": "group",
        "z": "399ca45d618adeb6",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "65ad39d.b6d4d48",
            "71f55a58.d7eaf4",
            "2d371e59.b0e50a",
            "dc48dc42.98d18",
            "d67cd3e703c8318a",
            "b2387e08bcd1505f",
            "8d47e8bf8b4438d4",
            "244e6c1c281d2a7e",
            "a5da7b3bcc1a582b",
            "827691b5f3fc8129",
            "95354c2caba35c4e",
            "e65e713d7fe2df60"
        ],
        "x": 34,
        "y": 439,
        "w": 832,
        "h": 242
    },
    {
        "id": "0b40c36572eed7ca",
        "type": "group",
        "z": "399ca45d618adeb6",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d31fcead.7e2ef",
            "a3b4e0beac8ba7a5",
            "c505f7a379c91ad4"
        ],
        "x": 34,
        "y": 759,
        "w": 832,
        "h": 82
    },
    {
        "id": "3293aa1bae69e6eb",
        "type": "group",
        "z": "399ca45d618adeb6",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "62030521.88317c",
            "6c806c5735d7be50",
            "6b5c0842b9abc00a",
            "304c6693be0dabe9",
            "9023fc06dedc6f54",
            "2f8eb65b067bb4e9",
            "4ac0b5acb89c774f",
            "454df1bbf5fe4e94",
            "ef6743a921d91f11",
            "6aded0fdf9f220bb",
            "6cad24e4aaf8aac5"
        ],
        "x": 34,
        "y": 899,
        "w": 832,
        "h": 262
    },
    {
        "id": "e2c5dfaa06121543",
        "type": "group",
        "z": "0df478d7aa1e10a5",
        "name": "Add hardware information form",
        "style": {
            "label": true,
            "stroke": "#000000",
            "color": "#000000"
        },
        "nodes": [
            "4b85a23ed7b4f558",
            "d32ad36222b7ea5a",
            "8c3e26d0d1b70d42",
            "37ecb4d2b69be9dd"
        ],
        "x": 194,
        "y": 319,
        "w": 1012,
        "h": 82
    },
    {
        "id": "f7ed36ef581713f0",
        "type": "group",
        "z": "0df478d7aa1e10a5",
        "name": "Page CSS",
        "style": {
            "stroke": "#000000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "e4d43547c15a5506"
        ],
        "x": 194,
        "y": 159,
        "w": 192,
        "h": 82
    },
    {
        "id": "360380a58dfc0f80",
        "type": "group",
        "z": "4da7ffd158faab70",
        "name": "Page CSS",
        "style": {
            "stroke": "#000000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "69d3ef26cf83569c"
        ],
        "x": 34,
        "y": 159,
        "w": 192,
        "h": 82
    },
    {
        "id": "d08823995cfedc57",
        "type": "group",
        "z": "4da7ffd158faab70",
        "name": "Display/Edit hardware information",
        "style": {
            "stroke": "#000000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "853953d676cfb245",
            "1153edeed6cf2ad3",
            "72525589ac3bc508",
            "51bf8a7a25dafecb",
            "f79846bca95415c1"
        ],
        "x": 34,
        "y": 339,
        "w": 1192,
        "h": 82
    },
    {
        "id": "33c355b642af2a8b",
        "type": "group",
        "z": "4da7ffd158faab70",
        "name": "Request hardware information from EEPROM",
        "style": {
            "stroke": "#000000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "ee0f73af31f90cff",
            "11928dc1ab250e33"
        ],
        "x": 34,
        "y": 539,
        "w": 502,
        "h": 82
    },
    {
        "id": "e6ae26617c24c3ea",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": true,
        "showPageTitle": false,
        "navigationStyle": "fixed",
        "titleBarStyle": "hidden",
        "showReconnectNotification": true,
        "notificationDisplayTime": "1",
        "showDisconnectNotification": true
    },
    {
        "id": "acdf17df5536b1d3",
        "type": "ui-theme",
        "name": "FairScope Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "10px",
            "groupGap": "10px",
            "groupBorderRadius": "0px",
            "widgetGap": "10px"
        }
    },
    {
        "id": "b9f88d899abc43e6",
        "type": "ui-page",
        "name": "Dev Kit",
        "ui": "e6ae26617c24c3ea",
        "path": "/devkit",
        "icon": "mdi-database-plus",
        "layout": "tabs",
        "theme": "acdf17df5536b1d3",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "3496e96aaf509c63",
        "type": "ui-group",
        "name": "Generic",
        "page": "b9f88d899abc43e6",
        "width": "12",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "0b938df814df6f89",
        "type": "ui-group",
        "name": "Text fields",
        "page": "b9f88d899abc43e6",
        "width": "12",
        "height": "1",
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "4b77e32bb8af68b1",
        "type": "ui-group",
        "name": "Loading methods",
        "page": "b9f88d899abc43e6",
        "width": "12",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "42ad8472e579096e",
        "type": "ui-group",
        "name": "Sliders",
        "page": "b9f88d899abc43e6",
        "width": "12",
        "height": "1",
        "order": 6,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e461e16bf6fe45b0",
        "type": "ui-group",
        "name": "Button toggles",
        "page": "b9f88d899abc43e6",
        "width": "12",
        "height": "1",
        "order": 7,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "50ffa74807da3b14",
        "type": "mqtt-broker",
        "name": "",
        "broker": "0.0.0.0",
        "port": "1883",
        "clientid": "Client_node",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c503a4c01451fec2",
        "type": "ui-group",
        "name": "Preview",
        "page": "b9f88d899abc43e6",
        "width": "12",
        "height": "1",
        "order": 8,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "9919d82f68c7a152",
        "type": "ui-group",
        "name": "Textareas",
        "page": "b9f88d899abc43e6",
        "width": "12",
        "height": "1",
        "order": 9,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "2ca4adc305fbadd5",
        "type": "ui-group",
        "name": "Landing Page",
        "page": "b9f88d899abc43e6",
        "width": "6",
        "height": "1",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "72483a7aac978971",
        "type": "ui-group",
        "name": "Get and set variable in Global",
        "page": "b9f88d899abc43e6",
        "width": "12",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "632260133d581caa",
        "type": "ui-page",
        "name": "Home",
        "ui": "e6ae26617c24c3ea",
        "path": "/home",
        "icon": "home",
        "layout": "grid",
        "theme": "acdf17df5536b1d3",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "713fd4c3b9030f45",
        "type": "ui-group",
        "name": "main",
        "page": "632260133d581caa",
        "width": "12",
        "height": "1",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "8dc3722c.06efa8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "0.0.0.0",
        "port": "1883",
        "clientid": "Client_node",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "6b9452e193fb07a6",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "24b512bd6461182e",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "e6ae26617c24c3ea",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "6b9452e193fb07a6",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "b441a341327c11b5",
        "type": "ui-group",
        "name": "Stream",
        "page": "24b512bd6461182e",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "39754cf04b80d5a3",
        "type": "ui-group",
        "name": "Controls",
        "page": "24b512bd6461182e",
        "width": "4",
        "height": 1,
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "be8436ef13a3006f",
        "type": "mqtt-broker",
        "name": "server_test",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "eeprom",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5ce27e761fdb9796",
        "type": "ui-page",
        "name": "Edit Hardware Components",
        "ui": "e6ae26617c24c3ea",
        "path": "/edit_hardware_components",
        "icon": "home",
        "layout": "grid",
        "theme": "6b9452e193fb07a6",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "59cc605d293a634c",
        "type": "ui-page",
        "name": "Add Hardware Components",
        "ui": "e6ae26617c24c3ea",
        "path": "/add_hardware_components",
        "icon": "home",
        "layout": "grid",
        "theme": "6b9452e193fb07a6",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ab08cb925353de79",
        "type": "ui-group",
        "name": "Edit Hardware Components",
        "page": "5ce27e761fdb9796",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5e26699d667afe73",
        "type": "ui-group",
        "name": "Add Hardware Components",
        "page": "59cc605d293a634c",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "82099021.9ceb08",
        "type": "file",
        "z": "4ed26b8b.253504",
        "name": "",
        "filename": "/home/pi/PlanktoScope/hardware.json",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 660,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "bb0a8725.a1849",
        "type": "json",
        "z": "4ed26b8b.253504",
        "name": "Create JSON",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 490,
        "y": 40,
        "wires": [
            [
                "82099021.9ceb08"
            ]
        ]
    },
    {
        "id": "53d163be.47cf24",
        "type": "function",
        "z": "4ed26b8b.253504",
        "name": "Update and retrieve hardware_conf",
        "func": "// change global\nhardware_conf = global.get(\"hardware_conf\");\n\nif (msg.topic == \"process_pixel_fixed\" && msg.payload == 0){\n    delete hardware_conf[msg.topic]\n    delete msg.topic\n}\n\nif (msg.topic !== null && msg.topic !== undefined){\n    hardware_conf[msg.topic] = msg.payload;\n    global.set(\"hardware_conf\", hardware_conf);\n}\n\nreturn {\"payload\": hardware_conf};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 40,
        "wires": [
            [
                "bb0a8725.a1849"
            ]
        ]
    },
    {
        "id": "0f16258953fae292",
        "type": "file in",
        "z": "b7861ce703215a01",
        "name": "",
        "filename": "/home/pi/PlanktoScope/hardware.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 250,
        "y": 40,
        "wires": [
            [
                "81c516291ab19acd"
            ]
        ],
        "info": "# PlanktoScope Help\nThis Node will read the content of the file named **config.txt** containing all the input placeholders.\n"
    },
    {
        "id": "81c516291ab19acd",
        "type": "json",
        "z": "b7861ce703215a01",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 40,
        "wires": [
            [
                "d0fbcd200cd09981"
            ]
        ]
    },
    {
        "id": "d0fbcd200cd09981",
        "type": "change",
        "z": "b7861ce703215a01",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "hardware_conf",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "39c370d8a50f3acc",
        "type": "ui-template",
        "z": "1b667c6443413ced",
        "group": "713fd4c3b9030f45",
        "page": "",
        "ui": "",
        "name": "body",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <v-empty-state\n    headline=\"Welcome on the PlanktoScope GUI,\"\n    icon=\"$vuetify\"\n    title=\"What would you like to do today?\"\n  >\n    <v-container>\n      <v-row>\n        <v-col cols=\"12\" md=\"4\">\n          <v-card\n            href=\"\"\n            target=\"_blank\"\n            prepend-icon=\"mdi-microscope\"\n            title=\"Launch the preview\"\n            text=\"Check if you can see anything.\"\n          ></v-card>\n        </v-col>\n\n        <v-col cols=\"12\" md=\"4\">\n          <v-card\n            href=\"\"\n            target=\"_blank\"\n            prepend-icon=\"mdi-microscope\"\n            title=\"Launch the preview\"\n            text=\"Check if you can see anything.\"\n          ></v-card>\n        </v-col>\n\n        <v-col cols=\"12\" md=\"4\">\n          <v-card\n            href=\"\"\n            target=\"_blank\"\n            prepend-icon=\"mdi-microscope\"\n            title=\"Launch the preview\"\n            text=\"Check if you can see anything.\"\n          ></v-card>\n        </v-col>\n      </v-row>\n      <v-row>\n        <v-col cols=\"12\" md=\"3\">\n          <v-card\n            href=\"\"\n            target=\"_blank\"\n            prepend-icon=\"mdi-microscope\"\n            title=\"Model of your machine\"\n            text=\"Check if you can see anything.\"\n          ></v-card>\n        </v-col>\n        <v-col cols=\"12\" md=\"3\">\n          <v-card\n            href=\"\"\n            target=\"_blank\"\n            prepend-icon=\"mdi-microscope\"\n            title=\"Launch the preview\"\n            text=\"Check if you can see anything.\"\n          ></v-card>\n        </v-col>\n        <v-col cols=\"12\" md=\"3\">\n          <v-card\n            href=\"\"\n            target=\"_blank\"\n            prepend-icon=\"mdi-microscope\"\n            title=\"Launch the preview\"\n            text=\"Check if you can see anything.\"\n          ></v-card>\n        </v-col>\n        <v-col cols=\"12\" md=\"3\">\n          <v-card\n            href=\"\"\n            target=\"_blank\"\n            prepend-icon=\"mdi-microscope\"\n            title=\"Launch the preview\"\n            text=\"Check if you can see anything.\"\n          ></v-card>\n        </v-col>\n      </v-row>\n    </v-container>\n    <v-row justify=\"center\" class=\"my-2\">\n      <v-chip\n        size=\"small\"\n        color=\"grey-darken-3\"\n        href=\"https://www.figma.com/design/KXH3qkalr7eeFbyGsutZKt/PlanktoScope-Dashboard-v2?node-id=6-2&m=dev&t=Nn2N1o9OJveQCSco-1\"\n        target=\"_blank\"\n        class=\"mx-2\"\n      >\n        <v-icon color=\"primary\" class=\"mr-1\">mdi-image</v-icon>Figma Design\n      </v-chip>\n      <v-chip\n        size=\"small\"\n        color=\"grey-darken-3\"\n        href=\"https://github.com/PlanktoScope/dashboard/issues/new?template=bug_report.md\"\n        target=\"_blank\"\n        class=\"mx-2\"\n      >\n        <v-icon color=\"red\" class=\"mr-1\">mdi-bug</v-icon>Report a Bug\n      </v-chip>\n      <v-chip\n        size=\"small\"\n        color=\"grey-darken-3\"\n        href=\"https://github.com/PlanktoScope/dashboard/issues\"\n        target=\"_blank\"\n        class=\"mx-2\"\n      >\n        <v-icon color=\"orange\" class=\"mr-1\">mdi-information-outline</v-icon>Open\n        issues\n      </v-chip>\n      <v-chip\n        size=\"small\"\n        color=\"grey-darken-3\"\n        href=\"https://github.com/PlanktoScope/dashboard\"\n        target=\"_blank\"\n        class=\"mx-2\"\n      >\n        <v-icon color=\"black\" class=\"mr-1\">mdi-github</v-icon>View on GitHub\n      </v-chip>\n    </v-row>\n  </v-empty-state>\n</template>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 350,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "1cf1b20e425ec126",
        "type": "ui-template",
        "z": "1b667c6443413ced",
        "group": "713fd4c3b9030f45",
        "page": "",
        "ui": "",
        "name": "footer",
        "order": 2,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <v-footer class=\"pa-0\" color=\"grey-darken-4\">\n    <v-container>\n      <v-row justify=\"space-between\">\n        <!-- Branding Section -->\n        <v-col cols=\"12\" md=\"12\" class=\"text-center text-md-start\">\n          <h4 class=\"text-white\">PlanktoScope</h4>\n          <p class=\"text-grey-lighten-1\">\n            Open and Affordable Quantitative Imaging Platform.\n          </p>\n        </v-col>\n      </v-row>\n      <v-divider class=\"my-3\"></v-divider>\n      <v-row justify=\"space-between\">\n        <!-- Branding Section -->\n        <v-col cols=\"12\" md=\"12\" class=\"text-center text-md-start\">\n          <h4 class=\"text-white\">Thanks to:</h4>\n          <p class=\"text-grey-lighten-1\">\n            <v-chip\n              v-for=\"contributor in contributors\"\n              :key=\"contributor.id\"\n              class=\"mx-2\"\n              small\n              outlined\n            >\n              <v-avatar left>\n                <img :src=\"contributor.avatar_url\" :alt=\"contributor.login\" />\n              </v-avatar>\n              <a\n                :href=\"contributor.html_url\"\n                target=\"_blank\"\n                class=\"text-decoration-none text-grey-lighten-1\"\n              >\n                {{ contributor.login }}\n              </a>\n            </v-chip>\n          </p>\n        </v-col>\n      </v-row>\n    </v-container>\n  </v-footer>\n</template>\n\n<script>\n  export default {\n    data() {\n      return {\n        contributors: [], // Array to hold contributors' data\n      }\n    },\n    mounted() {\n      this.fetchContributors()\n    },\n    methods: {\n      async fetchContributors() {\n        try {\n          const response = await fetch(\n            'https://api.github.com/orgs/PlanktoScope/people'\n          )\n          if (response.ok) {\n            this.contributors = await response.json()\n          } else {\n            console.error('Failed to fetch contributors')\n          }\n        } catch (error) {\n          console.error('Error fetching contributors:', error)\n        }\n      },\n    },\n  }\n</script>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 350,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "95e20345b1a7a05f",
        "type": "ui-template",
        "z": "1b667c6443413ced",
        "group": "713fd4c3b9030f45",
        "page": "",
        "ui": "",
        "name": "toolbar",
        "order": 3,
        "width": "12",
        "height": "1",
        "head": "",
        "format": "<template>\n  <v-app>\n    <v-app-bar color=\"primary\" prominent>\n      <v-app-bar-nav-icon\n        variant=\"text\"\n        @click.stop=\"drawer = !drawer\"\n      ></v-app-bar-nav-icon>\n\n      <v-toolbar-title>My files</v-toolbar-title>\n\n      <v-spacer></v-spacer>\n\n      <template v-if=\"$vuetify.display.mdAndUp\">\n        <v-btn icon=\"mdi-magnify\" variant=\"text\"></v-btn>\n        <v-btn icon=\"mdi-filter\" variant=\"text\"></v-btn>\n      </template>\n\n      <v-btn icon=\"mdi-dots-vertical\" variant=\"text\"></v-btn>\n    </v-app-bar>\n\n    <!-- Navigation Drawer -->\n    <v-navigation-drawer\n      v-model=\"drawer\"\n      absolute\n      temporary\n      class=\"custom-drawer\"\n    >\n      <v-list :items=\"items\"></v-list>\n    </v-navigation-drawer>\n\n  </v-app>\n</template>\n\n<script>\n  export default {\n    data: () => ({\n      drawer: false,\n      items: [\n        { title: 'Foo', value: 'foo' },\n        { title: 'Bar', value: 'bar' },\n        { title: 'Fizz', value: 'fizz' },\n        { title: 'Buzz', value: 'buzz' },\n      ],\n    }),\n  }\n</script>\n\n<style scoped>\n  .custom-drawer {\n    position: absolute;\n    top: 64px; /* Ajustez selon la hauteur de la v-app-bar */\n    left: 0;\n    width: 300px; /* Largeur du drawer */\n    z-index: 2000; /* Pour s'assurer que le drawer est au-dessus des autres éléments */\n    background-color: white; /* Fond du drawer */\n  }\n</style>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 360,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "f142197f943e06c3",
        "type": "ui-template",
        "z": "ae92a0a869ca847f",
        "g": "f9b137cda6a41cc8",
        "group": "0b938df814df6f89",
        "page": "",
        "ui": "",
        "name": "template with dialog",
        "order": 1,
        "width": "4",
        "height": "1",
        "head": "",
        "format": "<template>\n  <div>\n    <v-text-field\n    type=\"number\"\n      label=\"Prepend inner\"\n      prepend-inner-icon=\"mdi-information-outline\"\n      variant=\"outlined\"\n      suffix=\"suffix\"\n      density=\"compact\"\n      clearable\n      @click:prepend-inner=\"showDialog = true\"\n    ></v-text-field>\n\n    <v-dialog v-model=\"showDialog\" max-width=\"500px\">\n      <v-card>\n        <v-card-title> Information </v-card-title>\n        <v-card-text>\n          This is some additional information displayed in a dialog.\n        </v-card-text>\n        <v-card-actions>\n          <v-btn text @click=\"showDialog = false\">Close</v-btn>\n        </v-card-actions>\n      </v-card>\n    </v-dialog>\n  </div>\n</template>\n\n<script>\n  export default {\n    data() {\n      return {\n        showDialog: false, // Controls dialog visibility\n      }\n    },\n  }\n</script>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 180,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "ba32092924c21704",
        "type": "ui-markdown",
        "z": "ae92a0a869ca847f",
        "g": "f9b137cda6a41cc8",
        "group": "0b938df814df6f89",
        "name": "template with dialog",
        "order": 4,
        "width": "4",
        "height": "1",
        "content": "# Template with dialog\n```html\n<template>\n  <div>\n    <v-text-field\n      label=\"Prepend inner\"\n      prepend-inner-icon=\"mdi-information-outline\"\n      variant=\"outlined\"\n      suffix=\"suffix\"\n      density=\"compact\"\n      @click:prepend-inner=\"showDialog = true\"\n    ></v-text-field>\n\n    <v-dialog v-model=\"showDialog\" max-width=\"500px\">\n      <v-card>\n        <v-card-title> Information </v-card-title>\n        <v-card-text>\n          This is some additional information displayed in a dialog.\n        </v-card-text>\n        <v-card-actions>\n          <v-btn text @click=\"showDialog = false\">Close</v-btn>\n        </v-card-actions>\n      </v-card>\n    </v-dialog>\n  </div>\n</template>\n\n<script>\n  export default {\n    data() {\n      return {\n        showDialog: false, // Controls dialog visibility\n      }\n    },\n  }\n</script>\n\n```",
        "className": "",
        "x": 180,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "09145421eca576b2",
        "type": "ui-template",
        "z": "ae92a0a869ca847f",
        "g": "e42e71164274acdc",
        "group": "0b938df814df6f89",
        "page": "",
        "ui": "",
        "name": "template persistent hint",
        "order": 3,
        "width": "4",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-text-field\n    type=\"number\"\n      label=\"Label\"\n      variant=\"outlined\"\n      suffix=\"suffix\"\n      density=\"compact\"\n      clearable\n      persistent-hint\n      hint=\"This is some additional information displayed in a hint.\"\n    ></v-text-field>\n</template>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 450,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "f467dd95ca327abe",
        "type": "ui-template",
        "z": "ae92a0a869ca847f",
        "g": "a2eff4bb38731253",
        "group": "0b938df814df6f89",
        "page": "",
        "ui": "",
        "name": "template hidden hint",
        "order": 2,
        "width": "4",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-text-field\n    type=\"number\"\n      label=\"Label\"\n      variant=\"outlined\"\n      suffix=\"suffix\"\n      density=\"compact\"\n      clearable\n      hint=\"This is some additional information displayed in a hint.\"\n    ></v-text-field>\n\n</template>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 720,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "96d4f5ed69c26184",
        "type": "ui-markdown",
        "z": "ae92a0a869ca847f",
        "g": "e42e71164274acdc",
        "group": "0b938df814df6f89",
        "name": "template persistent hint",
        "order": 6,
        "width": "4",
        "height": "1",
        "content": "# Template persistent hint\n```html\n<template>\n    <v-text-field\n    type=\"number\"\n      label=\"Label\"\n      variant=\"outlined\"\n      suffix=\"suffix\"\n      density=\"compact\"\n      clearable\n      persistent-hint\n      hint=\"This is some additional information displayed in a hint.\"\n    ></v-text-field>\n</template>\n\n```",
        "className": "",
        "x": 450,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "9460aed131d64851",
        "type": "ui-markdown",
        "z": "ae92a0a869ca847f",
        "g": "a2eff4bb38731253",
        "group": "0b938df814df6f89",
        "name": "template hidden hint",
        "order": 5,
        "width": "4",
        "height": "1",
        "content": "# Template hidden hint\n```html\n<template>\n    <v-text-field\n    type=\"number\"\n      label=\"Label\"\n      variant=\"outlined\"\n      suffix=\"suffix\"\n      density=\"compact\"\n      clearable\n      hint=\"This is some additional information displayed in a hint.\"\n    ></v-text-field>\n</template>\n\n```",
        "className": "",
        "x": 720,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "b2b82b3ee278d4bc",
        "type": "ui-template",
        "z": "ae92a0a869ca847f",
        "g": "224fcab0880dd093",
        "group": "42ad8472e579096e",
        "page": "",
        "ui": "",
        "name": "Sliders",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <v-card class=\"ma-20 pa-2\">\n    <v-row class=\"ma-20 pa-2\">\n      <v-col cols=\"12\" sm=\"10\">\n        <v-slider\n          v-model=\"slider\"\n          :max=\"max\"\n          :min=\"min\"\n          :step=\"0.2\"\n          class=\"align-center\"\n          hide-details\n          label=\"Label\"\n          :thumb-size=\"30\"\n        />\n      </v-col>\n      <v-col cols=\"12\" sm=\"2\">\n        <v-text-field\n          v-model=\"slider\"\n          prepend-inner-icon=\"mdi-information-outline\"\n          type=\"number\"\n          variant=\"outlined\"\n          hide-details\n          suffix=\"suffix\"\n          density=\"compact\"\n          @click:prepend-inner=\"showDialog = true\"\n        />\n        <v-dialog v-model=\"showDialog\" max-width=\"500px\">\n          <v-card>\n            <v-card-title>Information</v-card-title>\n            <v-card-text>\n              This is some additional information displayed in a dialog.\n            </v-card-text>\n            <v-card-actions>\n              <v-btn text @click=\"showDialog = false\">Close</v-btn>\n            </v-card-actions>\n          </v-card>\n        </v-dialog>\n      </v-col>\n    </v-row>\n  </v-card>\n</template>\n\n<script>\n  export default {\n    data() {\n      return {\n        showDialog: false, // Controls dialog visibility\n        min: -50,\n        max: 90,\n        slider: 40,\n      }\n    },\n  }\n</script>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 110,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "cead53fe6d7fe793",
        "type": "ui-markdown",
        "z": "ae92a0a869ca847f",
        "g": "224fcab0880dd093",
        "group": "42ad8472e579096e",
        "name": "Slides description",
        "order": 2,
        "width": "0",
        "height": "0",
        "content": "# Template for slider\n```html\n<template>\n  <v-card class=\"ma-20 pa-2\">\n    <v-row class=\"ma-20 pa-2\">\n      <v-col cols=\"12\" sm=\"10\">\n        <v-slider\n          v-model=\"slider\"\n          :max=\"max\"\n          :min=\"min\"\n          :step=\"0.2\"\n          class=\"align-center\"\n          hide-details\n          label=\"Label\"\n          :thumb-size=\"30\"\n        />\n      </v-col>\n      <v-col cols=\"12\" sm=\"2\">\n        <v-text-field\n          v-model=\"slider\"\n          prepend-inner-icon=\"mdi-information-outline\"\n          type=\"number\"\n          variant=\"outlined\"\n          hide-details\n          suffix=\"suffix\"\n          density=\"compact\"\n          @click:prepend-inner=\"showDialog = true\"\n        />\n        <v-dialog v-model=\"showDialog\" max-width=\"500px\">\n          <v-card>\n            <v-card-title>Information</v-card-title>\n            <v-card-text>\n              This is some additional information displayed in a dialog.\n            </v-card-text>\n            <v-card-actions>\n              <v-btn text @click=\"showDialog = false\">Close</v-btn>\n            </v-card-actions>\n          </v-card>\n        </v-dialog>\n      </v-col>\n    </v-row>\n  </v-card>\n</template>\n\n<script>\n  export default {\n    data() {\n      return {\n        showDialog: false, // Controls dialog visibility\n        min: -50,\n        max: 90,\n        slider: 40,\n      }\n    },\n  }\n</script>\n```",
        "className": "",
        "x": 150,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "7777baf58bd1bc87",
        "type": "ui-template",
        "z": "ae92a0a869ca847f",
        "g": "951b589e9ecbbb70",
        "group": "e461e16bf6fe45b0",
        "page": "",
        "ui": "",
        "name": "Button toggles",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <v-btn-toggle\n    v-model=\"toggle_btn\"\n    color=\"primary\"\n    mandatory\n    shaped\n    class=\"d-flex justify-space-between\"\n  >\n    <v-btn class=\"flex-grow-1\"> 1 </v-btn>\n\n    <v-btn class=\"flex-grow-1\"> 2 </v-btn>\n\n    <v-btn class=\"flex-grow-1\"> 3 </v-btn>\n\n    <v-btn class=\"flex-grow-1\"> 4 </v-btn>\n  </v-btn-toggle>\n</template>\n\n<script>\n  export default {\n    data() {\n      return {\n        toggle_btn: 0,\n      }\n    },\n  }\n</script>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 140,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "a43e9d9c640f6a51",
        "type": "ui-markdown",
        "z": "ae92a0a869ca847f",
        "g": "951b589e9ecbbb70",
        "group": "e461e16bf6fe45b0",
        "name": "Button toggles description",
        "order": 2,
        "width": "0",
        "height": "0",
        "content": "# Template for btn group\n\n```html\n<template>\n  <v-btn-toggle\n    v-model=\"toggle_btn\"\n    color=\"primary\"\n    mandatory\n    shaped\n    class=\"d-flex justify-space-between\"\n  >\n    <v-btn class=\"flex-grow-1\"> 1 </v-btn>\n\n    <v-btn class=\"flex-grow-1\"> 2 </v-btn>\n\n    <v-btn class=\"flex-grow-1\"> 3 </v-btn>\n\n    <v-btn class=\"flex-grow-1\"> 4 </v-btn>\n  </v-btn-toggle>\n</template>\n\n<script>\n  export default {\n    data() {\n      return {\n        toggle_btn: 0,\n      }\n    },\n  }\n</script>\n\n```",
        "className": "",
        "x": 180,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "6d725e9d6e6752bd",
        "type": "ui-markdown",
        "z": "ae92a0a869ca847f",
        "g": "0d9513e4fa8e671f",
        "group": "3496e96aaf509c63",
        "name": "Vuetify links",
        "order": 1,
        "width": 0,
        "height": 0,
        "content": "# Vuetify Resources and Examples\n\nThis document provides useful links and references for working with Vuetify components, icons, and examples.\n\n## Vuetify Documentation\n- **Component Usage**: Learn how to use components in Vuetify.  \n  [View Documentation](https://vuetifyjs.com/en/components/all/#containment)\n\n- **API Reference**: Explore the full API details for `v-field`.  \n  [View API](https://vuetifyjs.com/en/api/v-field/)\n\n## Icons\n- **Material Design Icons**: Access the Material Design Icons (MDI) library for Vuetify projects.  \n  [Explore Icons](https://pictogrammers.github.io/@mdi/font/2.0.46/)\n\n## Code Playground\n- **Vue Play**: Experiment with Vue.js and Vuetify components in an interactive playground.  \n  [Open Playground](https://play.vuetifyjs.com/#eNrFVdtu2kAQ/ZWV1UdsQ2jUyKIRacVDq6qNClIf4jws9hg2We9ae+HSKP/e2TUYQ0IUibaRAMvnzM7MOR7GNw+BVll8VVXRwkKQBAMDZcWpgctUEDJYhJkUhjIBihTcstzDnlByubnZxHGCX/0xDd6nQcN4TtvpHGgO6vJaQcFWpJCK5JJzqkhmlQKRrQdxO65JjChmPVLo4rCQgZUJCwY8J5xOgWPMVSmtMGlAFpRbQKDXjbpdvK98Kwi8wyyuzu7wkfLurlZ9mgljW2xNWAKbzc2/0v7LZ29pP7uotWvfAQJ8qt9QPZSUcRwEvIi/7MEOJo0dI1+O5rkCjbLbIVuDYEVx/GGfbNwazlyGKJNlO+DN7DOsBPJbCvgP3n1zVzLBmOeN650l/W7ihqvNmnXlSNfoEUuvx5NTvNwymx2FyCBubbCgExiNbMFm0Z2WAhfcgzuUBvgMK8ZB/agMkwKnISGecRzlXC6/eswoC50tns0hu38Gv9Mrh6EYHCxQC9TacIaqGaBnjh6Nv3v/GrKUuXXD9gL5E7Tk1vVYh32yIse2W3G+2y9lJZVhYjbRo5UBobeiXKMu8tHHpwFu+c8vSN+124/6/lwq8IM+Ml8hLGl14GRN7KfBKnW7c2MqncRxlgs8lgNnCxUJMLGoyniIYbHC7YzjEeIWGPaj86jXj3OmTRuPQJfhFB84motZWtoxgWHF+hW1NpFY4kN0XlfYQCGOuHYlnqSO/cNUIb6f8H/lTH+dpINje7IOuCfS9jznTNzrw8F1qyshNyfq9Wlu60KPHWE59z+3fwDtNYW9)\n\n",
        "className": "",
        "x": 130,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "eeeea47645f9daca",
        "type": "ui-markdown",
        "z": "ae92a0a869ca847f",
        "g": "9ac62e47f20b26b7",
        "group": "c503a4c01451fec2",
        "name": "Preview description",
        "order": 2,
        "width": "0",
        "height": "0",
        "content": "# Template for preview\n\n## Option 1 - ElevateZoom from jQuery\n\nUse the library depending on jQuery - [ElevateZoom](https://igorlino.github.io/elevatezoom-plus/)\n\n```html\n<script src=\"https://code.jquery.com/jquery-3.6.4.min.js\"></script>\n<script src=\"https://cdn.jsdelivr.net/gh/igorlino/elevatezoom-plus@1.1.6/src/jquery.ez-plus.js\"></script>\n\n<div>\n  <img \n    id=\"zoom\" \n    src=\"http://90.28.148.199/ps/hal/camera/streams/preview.mjpg\" \n    data-zoom-image=\"http://90.28.148.199/ps/hal/camera/streams/preview.mjpg\" \n    alt=\"Live camera stream with zoom feature\" \n  />\n</div>\n\n<script>\n  $(document).ready(function () {\n    $('#zoom').ezPlus({\n      scrollZoom: true,      \n    });\n  });\n</script>\n```\n## Option 2 - ngx-image-zoom from AngularJS\n\nUse the pure Angular library - [ngx-image-zoom](https://www.npmjs.com/package/ngx-image-zoom)\n",
        "className": "",
        "x": 150,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "55bf230acc0db31a",
        "type": "ui-template",
        "z": "ae92a0a869ca847f",
        "g": "9ac62e47f20b26b7",
        "group": "c503a4c01451fec2",
        "page": "",
        "ui": "",
        "name": "Preview",
        "order": 1,
        "width": "12",
        "height": "1",
        "head": "",
        "format": "<!-- Include jQuery and ElevateZoom-Plus -->\n<script src=\"https://code.jquery.com/jquery-3.6.4.min.js\"></script>\n<script src=\"https://cdn.jsdelivr.net/gh/igorlino/elevatezoom-plus@1.1.6/src/jquery.ez-plus.js\"></script>\n\n<!-- Zoomable Image -->\n<template>\n  <v-row>\n    <v-col cols=\"8\">\n      <v-card variant=\"outlined\" width=\"auto\" height=\"800px\" class=\"pa-0 ma-0\"\n        ><img\n          id=\"zoom\"\n          src=\"http://90.28.148.199/ps/hal/camera/streams/preview.mjpg\"\n          data-zoom-image=\"http://90.28.148.199/ps/hal/camera/streams/preview.mjpg\"\n          alt=\"Live camera stream with zoom feature\"\n          style=\"\n            transform: rotate(-90deg);\n            margin-left: -100px;\n            margin-top: 100px;\n          \"\n          width=\"800px\"\n          height=\"600px\"\n      /></v-card>\n    </v-col>\n    <v-col cols=\"4\">\n      <v-text-field\n        type=\"number\"\n        label=\"Label\"\n        variant=\"outlined\"\n        suffix=\"suffix\"\n        density=\"compact\"\n        clearable\n        hint=\"This is some additional information displayed in a hint.\"\n      ></v-text-field>\n      <v-text-field\n        type=\"number\"\n        label=\"Label\"\n        variant=\"outlined\"\n        suffix=\"suffix\"\n        density=\"compact\"\n        clearable\n        hint=\"This is some additional information displayed in a hint.\"\n      ></v-text-field>\n      <v-text-field\n        type=\"number\"\n        label=\"Label\"\n        variant=\"outlined\"\n        suffix=\"suffix\"\n        density=\"compact\"\n        clearable\n        hint=\"This is some additional information displayed in a hint.\"\n      ></v-text-field>\n      <v-text-field\n        type=\"number\"\n        label=\"Label\"\n        variant=\"outlined\"\n        suffix=\"suffix\"\n        density=\"compact\"\n        clearable\n        hint=\"This is some additional information displayed in a hint.\"\n      ></v-text-field>\n      <v-text-field\n        type=\"number\"\n        label=\"Label\"\n        variant=\"outlined\"\n        suffix=\"suffix\"\n        density=\"compact\"\n        clearable\n        hint=\"This is some additional information displayed in a hint.\"\n      ></v-text-field>\n      <v-text-field\n        type=\"number\"\n        label=\"Label\"\n        variant=\"outlined\"\n        suffix=\"suffix\"\n        density=\"compact\"\n        clearable\n        hint=\"This is some additional information displayed in a hint.\"\n      ></v-text-field>\n      <v-text-field\n        type=\"number\"\n        label=\"Label\"\n        variant=\"outlined\"\n        suffix=\"suffix\"\n        density=\"compact\"\n        clearable\n        hint=\"This is some additional information displayed in a hint.\"\n      ></v-text-field>\n      <v-text-field\n        type=\"number\"\n        label=\"Label\"\n        variant=\"outlined\"\n        suffix=\"suffix\"\n        density=\"compact\"\n        clearable\n        hint=\"This is some additional information displayed in a hint.\"\n      ></v-text-field>\n      <v-text-field\n        type=\"number\"\n        label=\"Label\"\n        variant=\"outlined\"\n        suffix=\"suffix\"\n        density=\"compact\"\n        clearable\n        hint=\"This is some additional information displayed in a hint.\"\n      ></v-text-field>\n      <v-text-field\n        type=\"number\"\n        label=\"Label\"\n        variant=\"outlined\"\n        suffix=\"suffix\"\n        density=\"compact\"\n        clearable\n        hint=\"This is some additional information displayed in a hint.\"\n      ></v-text-field>\n    </v-col>\n  </v-row>\n</template>\n\n\n<!-- Activate Zoom -->\n<script>\n  $(document).ready(function () {\n    $('#zoom').ezPlus({\n      scrollZoom: true,       // Enable scroll zoom\n    });\n  });\n</script>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 120,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "ff04e338f28791c1",
        "type": "ui-markdown",
        "z": "ae92a0a869ca847f",
        "g": "f6e28f1fc85830b2",
        "group": "9919d82f68c7a152",
        "name": "Textareas description",
        "order": 2,
        "width": "0",
        "height": "0",
        "content": "# Template for Textareas\n\n```html\n<template>\n  <v-textarea\n    clearable\n    label=\"Label\"\n    variant=\"outlined\"\n    row-height=\"20\"\n    rows=\"2\"\n  ></v-textarea>\n</template>\n\n\n```",
        "className": "",
        "x": 160,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "a1de4783b40b22c7",
        "type": "ui-template",
        "z": "ae92a0a869ca847f",
        "g": "f6e28f1fc85830b2",
        "group": "9919d82f68c7a152",
        "page": "",
        "ui": "",
        "name": "Textareas",
        "order": 1,
        "width": "12",
        "height": "1",
        "head": "",
        "format": "<template>\n  <v-textarea\n    clearable\n    label=\"Label\"\n    variant=\"outlined\"\n    row-height=\"20\"\n    rows=\"2\"\n  ></v-textarea>\n</template>\n\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 120,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "af21295c7ed58d76",
        "type": "ui-template",
        "z": "ae92a0a869ca847f",
        "g": "c4dc9bdc60c02255",
        "group": "2ca4adc305fbadd5",
        "page": "",
        "ui": "",
        "name": "Home",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <v-empty-state\n    headline=\"Welcome,\"\n    icon=\"$vuetify\"\n    title=\"What would you like to do today?\"\n  >\n    <v-container>\n      <v-row>\n        <v-col cols=\"12\" md=\"6\">\n          <v-card\n            href=\"https://vuetifyjs.com/introduction/why-vuetify/#feature-guides\"\n            prepend-icon=\"$vuetify\"\n            target=\"_blank\"\n            text=\"Start with our dedicated feature guides\"\n            title=\"Learn Vuetify\"\n          ></v-card>\n        </v-col>\n\n        <v-col cols=\"12\" md=\"6\">\n          <v-card\n            href=\"https://play.vuetifyjs.com\"\n            prepend-icon=\"$vuetify-play\"\n            target=\"_blank\"\n            text=\"Test Vuetify out in our playground\"\n            title=\"Create a Playground\"\n          ></v-card>\n        </v-col>\n\n        <v-col cols=\"12\" md=\"6\">\n          <v-card\n            href=\"https://bin.vuetifyjs.com\"\n            prepend-icon=\"mdi-delete\"\n            target=\"_blank\"\n            text=\"Create a new bin to store your code\"\n            title=\"Create a Bin\"\n          ></v-card>\n        </v-col>\n\n        <v-col cols=\"12\" md=\"6\">\n          <v-card\n            href=\"https://issues.vuetifyjs.com\"\n            prepend-icon=\"$warning\"\n            target=\"_blank\"\n            text=\"File a bug report for Vuetify\"\n            title=\"Report a Bug\"\n          ></v-card>\n        </v-col>\n      </v-row>\n    </v-container>\n  </v-empty-state>\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 110,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "0666ca0a7a83550a",
        "type": "ui-markdown",
        "z": "ae92a0a869ca847f",
        "g": "c4dc9bdc60c02255",
        "group": "2ca4adc305fbadd5",
        "name": "Home description",
        "order": 2,
        "width": "0",
        "height": "0",
        "content": "# Template for Home\n```html\n<template>\n  <v-empty-state\n    headline=\"Welcome,\"\n    icon=\"$vuetify\"\n    title=\"What would you like to do today?\"\n  >\n    <v-container>\n      <v-row>\n        <v-col cols=\"12\" md=\"6\">\n          <v-card\n            href=\"https://vuetifyjs.com/introduction/why-vuetify/#feature-guides\"\n            prepend-icon=\"$vuetify\"\n            target=\"_blank\"\n            text=\"Start with our dedicated feature guides\"\n            title=\"Learn Vuetify\"\n          ></v-card>\n        </v-col>\n\n        <v-col cols=\"12\" md=\"6\">\n          <v-card\n            href=\"https://play.vuetifyjs.com\"\n            prepend-icon=\"$vuetify-play\"\n            target=\"_blank\"\n            text=\"Test Vuetify out in our playground\"\n            title=\"Create a Playground\"\n          ></v-card>\n        </v-col>\n\n        <v-col cols=\"12\" md=\"6\">\n          <v-card\n            href=\"https://bin.vuetifyjs.com\"\n            prepend-icon=\"mdi-delete\"\n            target=\"_blank\"\n            text=\"Create a new bin to store your code\"\n            title=\"Create a Bin\"\n          ></v-card>\n        </v-col>\n\n        <v-col cols=\"12\" md=\"6\">\n          <v-card\n            href=\"https://issues.vuetifyjs.com\"\n            prepend-icon=\"$warning\"\n            target=\"_blank\"\n            text=\"File a bug report for Vuetify\"\n            title=\"Report a Bug\"\n          ></v-card>\n        </v-col>\n      </v-row>\n    </v-container>\n  </v-empty-state>\n</template>\n```",
        "className": "",
        "x": 150,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "bdd5061dc2808c7b",
        "type": "ui-event",
        "z": "ae92a0a869ca847f",
        "g": "f8c01569bc2d2351",
        "ui": "e6ae26617c24c3ea",
        "name": "UI Event",
        "x": 120,
        "y": 1080,
        "wires": [
            [
                "c7af759e6348052a"
            ]
        ]
    },
    {
        "id": "c7af759e6348052a",
        "type": "switch",
        "z": "ae92a0a869ca847f",
        "g": "f8c01569bc2d2351",
        "name": "msg.topic === \"$pageview\"",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "$pageview",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 380,
        "y": 1080,
        "wires": [
            [
                "05f282f697c8d264"
            ]
        ]
    },
    {
        "id": "f8450ada286a255f",
        "type": "debug",
        "z": "ae92a0a869ca847f",
        "g": "f8c01569bc2d2351",
        "name": "msg.payload.page.path",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.page.path",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 1080,
        "wires": []
    },
    {
        "id": "05f282f697c8d264",
        "type": "switch",
        "z": "ae92a0a869ca847f",
        "g": "f8c01569bc2d2351",
        "name": "msg.payload.page.path === \"/home\"",
        "property": "payload.page.path",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/load",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 730,
        "y": 1080,
        "wires": [
            [
                "f8450ada286a255f"
            ]
        ]
    },
    {
        "id": "1c2b9fbce068ea00",
        "type": "ui-flowviewer",
        "z": "ae92a0a869ca847f",
        "g": "f8c01569bc2d2351",
        "name": "",
        "group": "4b77e32bb8af68b1",
        "order": 1,
        "width": "0",
        "flow": "[     {         \"id\": \"f8450ada286a255f\",         \"type\": \"debug\",         \"z\": \"061f6587029fa891\",         \"name\": \"msg.payload.page.path\",         \"active\": true,         \"tosidebar\": true,         \"console\": false,         \"tostatus\": false,         \"complete\": \"payload.page.path\",         \"targetType\": \"msg\",         \"statusVal\": \"\",         \"statusType\": \"auto\",         \"x\": 1030,         \"y\": 40,         \"wires\": []     },     {         \"id\": \"05f282f697c8d264\",         \"type\": \"switch\",         \"z\": \"061f6587029fa891\",         \"name\": \"msg.payload.page.path === \\\"/home\\\"\",         \"property\": \"payload.page.path\",         \"propertyType\": \"msg\",         \"rules\": [             {                 \"t\": \"eq\",                 \"v\": \"/load\",                 \"vt\": \"str\"             }         ],         \"checkall\": \"true\",         \"repair\": false,         \"outputs\": 1,         \"x\": 690,         \"y\": 40,         \"wires\": [             [                 \"f8450ada286a255f\",                 \"328128b08bc72b65\"             ]         ]     },     {         \"id\": \"c7af759e6348052a\",         \"type\": \"switch\",         \"z\": \"061f6587029fa891\",         \"name\": \"msg.topic === \\\"$pageview\\\"\",         \"property\": \"topic\",         \"propertyType\": \"msg\",         \"rules\": [             {                 \"t\": \"eq\",                 \"v\": \"$pageview\",                 \"vt\": \"str\"             }         ],         \"checkall\": \"true\",         \"repair\": false,         \"outputs\": 1,         \"x\": 340,         \"y\": 40,         \"wires\": [             [                 \"05f282f697c8d264\"             ]         ]     },     {         \"id\": \"bdd5061dc2808c7b\",         \"type\": \"ui-event\",         \"z\": \"061f6587029fa891\",         \"ui\": \"e6ae26617c24c3ea\",         \"name\": \"UI Event\",         \"x\": 80,         \"y\": 40,         \"wires\": [             [                 \"c7af759e6348052a\"             ]         ]     },     {         \"id\": \"e6ae26617c24c3ea\",         \"type\": \"ui-base\",         \"name\": \"My Dashboard\",         \"path\": \"/dashboard\",         \"appIcon\": \"\",         \"includeClientData\": true,         \"acceptsClientConfig\": [             \"ui-notification\",             \"ui-control\"         ],         \"showPathInSidebar\": true,         \"showPageTitle\": false,         \"navigationStyle\": \"fixed\",         \"titleBarStyle\": \"fixed\",         \"showReconnectNotification\": true,         \"notificationDisplayTime\": \"1\",         \"showDisconnectNotification\": true     } ]",
        "height": "0",
        "x": 1030,
        "y": 1120,
        "wires": []
    },
    {
        "id": "9496c5ceae312a6b",
        "type": "ui-markdown",
        "z": "ae92a0a869ca847f",
        "g": "f8c01569bc2d2351",
        "group": "4b77e32bb8af68b1",
        "name": "Illustration of the Flow",
        "order": 2,
        "width": 0,
        "height": 0,
        "content": "\n\n## Illustration of the Flow\n\n### **1. UI Event**\n**Node Name**: `UI Event`  \n**Description**: Captures user events from the dashboard (e.g., page navigation).  \n**Connected Dashboard**: `My Dashboard`.\n\n```javascript\n// Emits messages with the topic and page path when an event occurs.\n```\n\n---\n\n### **2. Switch: `$pageview`**\n**Node Name**: `msg.topic === \"$pageview\"`  \n**Description**: Filters messages where `msg.topic` equals `$pageview`, ensuring only page navigation events are processed.\n\n**Rule**:\n```javascript\nmsg.topic === \"$pageview\";\n```\n\n---\n\n### **3. Switch: `/load`**\n**Node Name**: `msg.payload.page.path === \"/load\"`  \n**Description**: Filters messages to pass only those where the page path matches `/load`.\n\n**Rule**:\n```javascript\nmsg.payload.page.path === \"/load\";\n```\n\n---\n\n### **4. Debug**\n**Node Name**: `msg.payload.page.path`  \n**Description**: Outputs the value of `msg.payload.page.path` to the debug sidebar in Node-RED for monitoring purposes.\n\n```javascript\n// Outputs:\n// msg.payload.page.path\n```\n\n---\n\n## Supporting Details\n\n- **Dashboard Base**: `My Dashboard`  \n  - Accessible at `/dashboard`.  \n  - Includes navigation and notification configurations for seamless user interaction.\n\n---\n",
        "className": "",
        "x": 1060,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "bdef59faea812013",
        "type": "ui-template",
        "z": "ae92a0a869ca847f",
        "g": "c0721ac2a3ae24b9",
        "group": "72483a7aac978971",
        "page": "",
        "ui": "",
        "name": "",
        "order": 2,
        "width": "0",
        "height": "0",
        "head": "",
        "format": "<template>\n    <v-text-field\n        label=\"My variable\"\n        variant=\"outlined\"\n        v-model=\"msg.variable\"\n      hide-details=\"auto\"\n        @update:model-value=\"send({ variable: msg.variable})\"\n    ></v-text-field>\n</template>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 380,
        "y": 1260,
        "wires": [
            [
                "fc73d6b9b216ac9c"
            ]
        ]
    },
    {
        "id": "5a9af1c11b3c3c31",
        "type": "function",
        "z": "ae92a0a869ca847f",
        "g": "c0721ac2a3ae24b9",
        "name": "get global variable",
        "func": "// Retrieve the global variable\nmsg.variable = global.get('variable');\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 1260,
        "wires": [
            [
                "bdef59faea812013"
            ]
        ]
    },
    {
        "id": "fc73d6b9b216ac9c",
        "type": "function",
        "z": "ae92a0a869ca847f",
        "g": "c0721ac2a3ae24b9",
        "name": "set global variable",
        "func": "// Set a value in the global context\nglobal.set('variable', msg.variable);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "e3f11510712aac2d",
        "type": "ui-markdown",
        "z": "ae92a0a869ca847f",
        "g": "c0721ac2a3ae24b9",
        "group": "72483a7aac978971",
        "name": "Illustration of the Flow",
        "order": 3,
        "width": 0,
        "height": 0,
        "content": "## Illustration of the Flow\n\n### **1. Get Global Variable**\n**Node Name**: `get global variable`  \n**Description**: Retrieves a global variable (`variable`) stored in the Node-RED context.\n\n```javascript\n// Retrieve the global variable\nmsg.variable = global.get('variable');\n\nreturn msg;\n```\n\n---\n\n### **2. Template**\n**Node Name**: `template`  \n**Description**: Displays a Vue.js-based text field in the user interface, allowing the user to view and update the global variable.\n\n```html\n<template>\n    <v-divider class=\"my-5\"></v-divider>\n    <v-text-field\n        label=\"My variable\"\n        variant=\"outlined\"\n        v-model=\"msg.variable\"\n        @update:model-value=\"send({ variable: msg.variable })\"\n    ></v-text-field>\n</template>\n```\n\n---\n\n### **3. Set Global Variable**\n**Node Name**: `set global variable`  \n**Description**: Updates the global variable (`variable`) with the value entered in the UI text field.\n\n```javascript\n// Set a value in the global context\nglobal.set('variable', msg.variable);\n\nreturn msg;\n```\n\n---\n\n## Supporting Details\n\n- **UI Group**: `Value and payloads`  \n  Groups the widgets under a dashboard section for better organization.\n\n- **UI Page**: `Data in global.json`  \n  Displays the group on a dashboard page accessible via the `/data` URL.\n\n- **Theme**: `FairScope Theme`  \n  Configures the visual style of the dashboard, using a clean and modern design with primary and background colors.\n",
        "className": "",
        "x": 620,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "be327c38d0d4571c",
        "type": "ui-flowviewer",
        "z": "ae92a0a869ca847f",
        "g": "c0721ac2a3ae24b9",
        "name": "",
        "group": "72483a7aac978971",
        "order": 1,
        "width": "0",
        "flow": "[     {         \"id\": \"5a9af1c11b3c3c31\",         \"type\": \"function\",         \"z\": \"775111265b9951a8\",         \"name\": \"get global variable\",         \"func\": \"// Retrieve the global variable\\nmsg.variable = global.get('variable');\\n\\nreturn msg;\\n\",         \"outputs\": 1,         \"timeout\": 0,         \"noerr\": 0,         \"initialize\": \"\",         \"finalize\": \"\",         \"libs\": [],         \"x\": 290,         \"y\": 40,         \"wires\": [             [                 \"bdef59faea812013\"             ]         ]     },     {         \"id\": \"bdef59faea812013\",         \"type\": \"ui-template\",         \"z\": \"775111265b9951a8\",         \"group\": \"9db62e7f60daa367\",         \"page\": \"\",         \"ui\": \"\",         \"name\": \"\",         \"order\": 2,         \"width\": \"6\",         \"height\": \"1\",         \"head\": \"\",         \"format\": \"<template>\\n    <v-text-field\\n        label=\\\"My variable\\\"\\n        variant=\\\"outlined\\\"\\n        v-model=\\\"msg.variable\\\"\\n      hide-details=\\\"auto\\\"\\n        @update:model-value=\\\"send({ variable: msg.variable})\\\"\\n    ></v-text-field>\\n</template>\\n\",         \"storeOutMessages\": true,         \"passthru\": true,         \"resendOnRefresh\": true,         \"templateScope\": \"local\",         \"className\": \"\",         \"x\": 520,         \"y\": 40,         \"wires\": [             [                 \"fc73d6b9b216ac9c\"             ]         ]     },     {         \"id\": \"fc73d6b9b216ac9c\",         \"type\": \"function\",         \"z\": \"775111265b9951a8\",         \"name\": \"set global variable\",         \"func\": \"// Set a value in the global context\\nglobal.set('variable', msg.variable);\\n\\nreturn msg;\\n\",         \"outputs\": 1,         \"timeout\": 0,         \"noerr\": 0,         \"initialize\": \"\",         \"finalize\": \"\",         \"libs\": [],         \"x\": 750,         \"y\": 40,         \"wires\": [             []         ]     },     {         \"id\": \"9db62e7f60daa367\",         \"type\": \"ui-group\",         \"name\": \"Get and set variable in Global\",         \"page\": \"69706da10df85266\",         \"width\": \"12\",         \"height\": \"1\",         \"order\": 1,         \"showTitle\": true,         \"className\": \"\",         \"visible\": \"true\",         \"disabled\": \"false\",         \"groupType\": \"default\"     },     {         \"id\": \"69706da10df85266\",         \"type\": \"ui-page\",         \"name\": \"Data in global.json\",         \"ui\": \"e6ae26617c24c3ea\",         \"path\": \"/data\",         \"icon\": \"mdi-database\",         \"layout\": \"grid\",         \"theme\": \"acdf17df5536b1d3\",         \"breakpoints\": [             {                 \"name\": \"Default\",                 \"px\": \"0\",                 \"cols\": \"3\"             },             {                 \"name\": \"Tablet\",                 \"px\": \"576\",                 \"cols\": \"6\"             },             {                 \"name\": \"Small Desktop\",                 \"px\": \"768\",                 \"cols\": \"9\"             },             {                 \"name\": \"Desktop\",                 \"px\": \"1024\",                 \"cols\": \"12\"             }         ],         \"order\": 2,         \"className\": \"\",         \"visible\": \"true\",         \"disabled\": \"false\"     },     {         \"id\": \"e6ae26617c24c3ea\",         \"type\": \"ui-base\",         \"name\": \"My Dashboard\",         \"path\": \"/dashboard\",         \"appIcon\": \"\",         \"includeClientData\": true,         \"acceptsClientConfig\": [             \"ui-notification\",             \"ui-control\"         ],         \"showPathInSidebar\": true,         \"showPageTitle\": false,         \"navigationStyle\": \"fixed\",         \"titleBarStyle\": \"fixed\",         \"showReconnectNotification\": true,         \"notificationDisplayTime\": \"1\",         \"showDisconnectNotification\": true     },     {         \"id\": \"acdf17df5536b1d3\",         \"type\": \"ui-theme\",         \"name\": \"FairScope Theme\",         \"colors\": {             \"surface\": \"#ffffff\",             \"primary\": \"#0094ce\",             \"bgPage\": \"#eeeeee\",             \"groupBg\": \"#ffffff\",             \"groupOutline\": \"#cccccc\"         },         \"sizes\": {             \"density\": \"default\",             \"pagePadding\": \"10px\",             \"groupGap\": \"10px\",             \"groupBorderRadius\": \"0px\",             \"widgetGap\": \"10px\"         }     } ]",
        "height": "0",
        "x": 590,
        "y": 1300,
        "wires": []
    },
    {
        "id": "63ce2a7abac6c383",
        "type": "mqtt out",
        "z": "ae92a0a869ca847f",
        "g": "3f7d2b5e66b2e952",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "50ffa74807da3b14",
        "x": 330,
        "y": 1480,
        "wires": []
    },
    {
        "id": "a78e68ca113d604d",
        "type": "inject",
        "z": "ae92a0a869ca847f",
        "g": "3f7d2b5e66b2e952",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "light",
        "payload": "{\"action\": \"on\"}",
        "payloadType": "json",
        "x": 170,
        "y": 1480,
        "wires": [
            [
                "63ce2a7abac6c383"
            ]
        ]
    },
    {
        "id": "638086cbd09bb92b",
        "type": "mqtt out",
        "z": "ae92a0a869ca847f",
        "g": "3f7d2b5e66b2e952",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "50ffa74807da3b14",
        "x": 330,
        "y": 1540,
        "wires": []
    },
    {
        "id": "feacde592b9f5242",
        "type": "inject",
        "z": "ae92a0a869ca847f",
        "g": "3f7d2b5e66b2e952",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "light",
        "payload": "{\"action\": \"off\"}",
        "payloadType": "json",
        "x": 170,
        "y": 1540,
        "wires": [
            [
                "638086cbd09bb92b"
            ]
        ]
    },
    {
        "id": "fa4c8c9a96beb602",
        "type": "mqtt out",
        "z": "ae92a0a869ca847f",
        "g": "b80e1a185f7e6534",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "50ffa74807da3b14",
        "x": 650,
        "y": 1660,
        "wires": []
    },
    {
        "id": "70f6137594caf82d",
        "type": "inject",
        "z": "ae92a0a869ca847f",
        "g": "b80e1a185f7e6534",
        "name": "{    \"action\": \"move\",    \"direction\": \"UP\",    \"distance\": 0.5,    \"speed\": 1}",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "actuator/focus",
        "payload": "{\"action\":\"move\",\"direction\":\"UP\",\"distance\":0.5,\"speed\":1}",
        "payloadType": "json",
        "x": 310,
        "y": 1660,
        "wires": [
            [
                "fa4c8c9a96beb602"
            ]
        ]
    },
    {
        "id": "c4686819dd2d651d",
        "type": "inject",
        "z": "ae92a0a869ca847f",
        "g": "b80e1a185f7e6534",
        "name": "{     \"action\": \"move\",     \"direction\": \"DOWN\",     \"distance\": 0.5,     \"speed\": 1 }",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "actuator/focus",
        "payload": "{\"action\":\"move\",\"direction\":\"DOWN\",\"distance\":0.5,\"speed\":1}",
        "payloadType": "json",
        "x": 330,
        "y": 1720,
        "wires": [
            [
                "5fcad47dcb0de5b5"
            ]
        ]
    },
    {
        "id": "5fcad47dcb0de5b5",
        "type": "mqtt out",
        "z": "ae92a0a869ca847f",
        "g": "b80e1a185f7e6534",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "50ffa74807da3b14",
        "x": 650,
        "y": 1720,
        "wires": []
    },
    {
        "id": "8d1df3a3.e4fbc8",
        "type": "inject",
        "z": "ae92a0a869ca847f",
        "g": "d9ac3768c4ec355e",
        "name": "Trigger Reboot",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1840,
        "wires": [
            [
                "3c1f2b6d.c3d0d4"
            ]
        ]
    },
    {
        "id": "3c1f2b6d.c3d0d4",
        "type": "exec",
        "z": "ae92a0a869ca847f",
        "g": "d9ac3768c4ec355e",
        "command": "sudo reboot",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Reboot Command",
        "x": 360,
        "y": 1840,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "0708466c4a006633",
        "type": "ui-template",
        "z": "399ca45d618adeb6",
        "group": "b441a341327c11b5",
        "page": "",
        "ui": "",
        "name": "Stream Pi Camera",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<center>\n    <img src=\"http://127.0.0.1:8000/stream.mjpg\"\n    alt=\"If you see this, there probably is an error either with your camera or with the python service. Please try restarting your machine.\"\n    width=\"100%\" height=\"100%\">\n</center>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 130,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "bdc8ce57.de1f08",
        "type": "mqtt out",
        "z": "399ca45d618adeb6",
        "g": "ddc4d1a32c2c30df",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "8dc3722c.06efa8",
        "x": 790,
        "y": 220,
        "wires": []
    },
    {
        "id": "f782a471.447748",
        "type": "inject",
        "z": "399ca45d618adeb6",
        "g": "ddc4d1a32c2c30df",
        "name": "Default: 2mL/min",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "0f7e6f26a012e702"
            ]
        ]
    },
    {
        "id": "73b8252a.5ca754",
        "type": "inject",
        "z": "399ca45d618adeb6",
        "g": "ddc4d1a32c2c30df",
        "name": "Default: 2mL",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "8df69db4303d52db"
            ]
        ]
    },
    {
        "id": "320847a9582ce01d",
        "type": "ui-button",
        "z": "399ca45d618adeb6",
        "g": "ddc4d1a32c2c30df",
        "group": "39754cf04b80d5a3",
        "name": "Stop Pump",
        "label": "",
        "order": 3,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "stop",
        "iconPosition": "left",
        "payload": "{\"action\":\"stop\"}",
        "payloadType": "json",
        "topic": "actuator/pump",
        "topicType": "str",
        "buttonColor": "#AD1625",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 350,
        "y": 160,
        "wires": [
            [
                "dcbec46d6abde806"
            ]
        ]
    },
    {
        "id": "dcbec46d6abde806",
        "type": "mqtt out",
        "z": "399ca45d618adeb6",
        "g": "ddc4d1a32c2c30df",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "8dc3722c.06efa8",
        "x": 790,
        "y": 160,
        "wires": []
    },
    {
        "id": "85944c05779351c9",
        "type": "ui-button",
        "z": "399ca45d618adeb6",
        "g": "ddc4d1a32c2c30df",
        "group": "39754cf04b80d5a3",
        "name": "Backward",
        "label": "",
        "order": 2,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "rotate-left",
        "iconPosition": "left",
        "payload": "BACKWARD",
        "payloadType": "str",
        "topic": "actuator/pump",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 340,
        "y": 200,
        "wires": [
            [
                "c2980b57bfbe80f5"
            ]
        ]
    },
    {
        "id": "c2980b57bfbe80f5",
        "type": "function",
        "z": "399ca45d618adeb6",
        "g": "ddc4d1a32c2c30df",
        "name": "pump",
        "func": "var manual_volume= global.get(\"pump_manual_volume\");\nvar flowrate= global.get(\"pump_flowrate\");\n\nif (manual_volume === undefined || manual_volume === \"\" || manual_volume === null) {\n    msg.topic = \"Missing entry :\"\n    msg.payload = \"Volume to pass\";\n    return [null, msg];\n}\nelse if (flowrate === undefined || flowrate === \"\" || flowrate === null) {\n    msg.topic = \"Missing entry :\"\n    msg.payload = \"Flowrate\";\n    return [null, msg];\n}\nelse {\n    msg.topic = \"actuator/pump\";\n    // msg.payload is FORWARD or BACKWARD here\n    msg.payload={\"action\":\"move\", \n                \"direction\":msg.payload,\n                \"volume\":manual_volume,\n                \"flowrate\":flowrate};\n}\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 220,
        "wires": [
            [
                "bdc8ce57.de1f08"
            ],
            []
        ],
        "inputLabels": [
            "direction"
        ],
        "outputLabels": [
            "message",
            "error"
        ]
    },
    {
        "id": "ae02f2699e1cbb67",
        "type": "ui-button",
        "z": "399ca45d618adeb6",
        "g": "ddc4d1a32c2c30df",
        "group": "39754cf04b80d5a3",
        "name": "Forward",
        "label": "",
        "order": 4,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "rotate-right",
        "iconPosition": "left",
        "payload": "FORWARD",
        "payloadType": "str",
        "topic": "actuator/pump",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 340,
        "y": 240,
        "wires": [
            [
                "c2980b57bfbe80f5"
            ]
        ]
    },
    {
        "id": "0f7e6f26a012e702",
        "type": "ui-number-input",
        "z": "399ca45d618adeb6",
        "g": "ddc4d1a32c2c30df",
        "group": "39754cf04b80d5a3",
        "name": "pump_flowrate",
        "label": "Flowrate (ml/min)*",
        "order": 6,
        "width": "2",
        "height": "1",
        "topic": "pump_flowrate",
        "topicType": "str",
        "min": "1",
        "max": "40",
        "step": 1,
        "tooltip": "",
        "passthru": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 360,
        "y": 300,
        "wires": [
            [
                "064180b404fa14a3"
            ]
        ]
    },
    {
        "id": "8df69db4303d52db",
        "type": "ui-number-input",
        "z": "399ca45d618adeb6",
        "g": "ddc4d1a32c2c30df",
        "group": "39754cf04b80d5a3",
        "name": "pump_manual_volume",
        "label": "Volume to pass (ml)*",
        "order": 5,
        "width": "2",
        "height": "1",
        "topic": "pump_manual_volume",
        "topicType": "str",
        "min": "1",
        "max": "40",
        "step": 1,
        "tooltip": "",
        "passthru": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 380,
        "y": 340,
        "wires": [
            [
                "064180b404fa14a3"
            ]
        ]
    },
    {
        "id": "064180b404fa14a3",
        "type": "function",
        "z": "399ca45d618adeb6",
        "g": "ddc4d1a32c2c30df",
        "name": "set global",
        "func": "global.set(msg.topic,msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 580,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "fd86ec025f116cde",
        "type": "ui-markdown",
        "z": "399ca45d618adeb6",
        "g": "ddc4d1a32c2c30df",
        "group": "39754cf04b80d5a3",
        "name": "Pump",
        "order": 1,
        "width": 0,
        "height": 0,
        "content": "# Pump settings\n\n---\n",
        "className": "",
        "x": 110,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "65ad39d.b6d4d48",
        "type": "function",
        "z": "399ca45d618adeb6",
        "g": "21f9961740730e58",
        "name": "focus",
        "func": "var distance = global.get(\"focus_distance\");\nvar speed = global.get(\"focus_speed\");\n\nif (distance === undefined || distance === \"\" || distance === null) {\n    msg.topic = \"Missing entry :\"\n    msg.payload = \"Distance\";\n    return [null, msg]\n}\nif (speed === undefined || speed === \"\" || speed === null) {\n    msg.topic = \"Missing entry :\"\n    msg.payload = \"Speed\";\n    return [null, msg]\n}\n// msg.payload is UP or DOWN here\nmsg.payload={\"action\":\"move\", \n            \"direction\":msg.payload,\n            \"distance\":(distance/1000),\n            \"speed\": (speed/1000)\n};\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 540,
        "wires": [
            [
                "827691b5f3fc8129"
            ],
            []
        ],
        "inputLabels": [
            "direction"
        ],
        "outputLabels": [
            "message",
            "error"
        ]
    },
    {
        "id": "71f55a58.d7eaf4",
        "type": "inject",
        "z": "399ca45d618adeb6",
        "g": "21f9961740730e58",
        "name": "Default: 500µm",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "500",
        "payloadType": "num",
        "x": 200,
        "y": 640,
        "wires": [
            [
                "e65e713d7fe2df60"
            ]
        ]
    },
    {
        "id": "2d371e59.b0e50a",
        "type": "inject",
        "z": "399ca45d618adeb6",
        "g": "21f9961740730e58",
        "name": "Default: 1000µm/s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "1000",
        "payloadType": "num",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "95354c2caba35c4e"
            ]
        ]
    },
    {
        "id": "dc48dc42.98d18",
        "type": "function",
        "z": "399ca45d618adeb6",
        "g": "21f9961740730e58",
        "name": "set global",
        "func": "global.set(msg.topic,msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 580,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "d67cd3e703c8318a",
        "type": "mqtt out",
        "z": "399ca45d618adeb6",
        "g": "21f9961740730e58",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "8dc3722c.06efa8",
        "x": 790,
        "y": 480,
        "wires": []
    },
    {
        "id": "b2387e08bcd1505f",
        "type": "ui-button",
        "z": "399ca45d618adeb6",
        "g": "21f9961740730e58",
        "group": "39754cf04b80d5a3",
        "name": "Stop Focus",
        "label": "",
        "order": 9,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "stop",
        "iconPosition": "left",
        "payload": "{\"action\":\"stop\"}",
        "payloadType": "json",
        "topic": "actuator/focus",
        "topicType": "str",
        "buttonColor": "#AD1625",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 350,
        "y": 480,
        "wires": [
            [
                "d67cd3e703c8318a"
            ]
        ]
    },
    {
        "id": "8d47e8bf8b4438d4",
        "type": "ui-button",
        "z": "399ca45d618adeb6",
        "g": "21f9961740730e58",
        "group": "39754cf04b80d5a3",
        "name": "Up",
        "label": "",
        "order": 10,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow-right-bold",
        "iconPosition": "left",
        "payload": "UP",
        "payloadType": "str",
        "topic": "actuator/focus",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 350,
        "y": 520,
        "wires": [
            [
                "65ad39d.b6d4d48"
            ]
        ]
    },
    {
        "id": "244e6c1c281d2a7e",
        "type": "ui-button",
        "z": "399ca45d618adeb6",
        "g": "21f9961740730e58",
        "group": "39754cf04b80d5a3",
        "name": "Down",
        "label": "",
        "order": 8,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow-left-bold",
        "iconPosition": "left",
        "payload": "DOWN",
        "payloadType": "str",
        "topic": "actuator/focus",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 350,
        "y": 560,
        "wires": [
            [
                "65ad39d.b6d4d48"
            ]
        ]
    },
    {
        "id": "a5da7b3bcc1a582b",
        "type": "ui-markdown",
        "z": "399ca45d618adeb6",
        "g": "21f9961740730e58",
        "group": "39754cf04b80d5a3",
        "name": "Focus",
        "order": 7,
        "width": 0,
        "height": 0,
        "content": "# Focus settings\n\n---\n",
        "className": "",
        "x": 110,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "827691b5f3fc8129",
        "type": "mqtt out",
        "z": "399ca45d618adeb6",
        "g": "21f9961740730e58",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "8dc3722c.06efa8",
        "x": 790,
        "y": 540,
        "wires": []
    },
    {
        "id": "95354c2caba35c4e",
        "type": "ui-number-input",
        "z": "399ca45d618adeb6",
        "g": "21f9961740730e58",
        "group": "39754cf04b80d5a3",
        "name": "focus_speed",
        "label": "Focus Speed (in µm/sec)",
        "order": 12,
        "width": "2",
        "height": "1",
        "topic": "focus_speed",
        "topicType": "str",
        "min": "1000",
        "max": "5000",
        "step": "100",
        "tooltip": "",
        "passthru": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 370,
        "y": 600,
        "wires": [
            [
                "dc48dc42.98d18"
            ]
        ]
    },
    {
        "id": "e65e713d7fe2df60",
        "type": "ui-number-input",
        "z": "399ca45d618adeb6",
        "g": "21f9961740730e58",
        "group": "39754cf04b80d5a3",
        "name": "focus_distance",
        "label": "Focus Distance (in µm)",
        "order": 11,
        "width": "2",
        "height": "1",
        "topic": "focus_distance",
        "topicType": "str",
        "min": "25",
        "max": "10000",
        "step": "25",
        "tooltip": "",
        "passthru": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 380,
        "y": 640,
        "wires": [
            [
                "dc48dc42.98d18"
            ]
        ]
    },
    {
        "id": "d31fcead.7e2ef",
        "type": "mqtt out",
        "z": "399ca45d618adeb6",
        "g": "0b40c36572eed7ca",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "8dc3722c.06efa8",
        "x": 790,
        "y": 800,
        "wires": []
    },
    {
        "id": "a3b4e0beac8ba7a5",
        "type": "ui-switch",
        "z": "399ca45d618adeb6",
        "g": "0b40c36572eed7ca",
        "name": "LED",
        "label": "LED",
        "group": "39754cf04b80d5a3",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "light",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "{\"action\":\"on\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"action\":\"off\"}",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 330,
        "y": 800,
        "wires": [
            [
                "d31fcead.7e2ef"
            ]
        ]
    },
    {
        "id": "c505f7a379c91ad4",
        "type": "ui-markdown",
        "z": "399ca45d618adeb6",
        "g": "0b40c36572eed7ca",
        "group": "39754cf04b80d5a3",
        "name": "LED",
        "order": 13,
        "width": 0,
        "height": 0,
        "content": "# LED settings\n\n---\n",
        "className": "",
        "x": 110,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "62030521.88317c",
        "type": "mqtt out",
        "z": "399ca45d618adeb6",
        "g": "3293aa1bae69e6eb",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "8dc3722c.06efa8",
        "x": 790,
        "y": 1060,
        "wires": []
    },
    {
        "id": "6c806c5735d7be50",
        "type": "ui-markdown",
        "z": "399ca45d618adeb6",
        "g": "3293aa1bae69e6eb",
        "group": "39754cf04b80d5a3",
        "name": "Camera",
        "order": 15,
        "width": 0,
        "height": 0,
        "content": "# Camera settings\n\n---\n",
        "className": "",
        "x": 120,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "6b5c0842b9abc00a",
        "type": "ui-slider",
        "z": "399ca45d618adeb6",
        "g": "3293aa1bae69e6eb",
        "group": "39754cf04b80d5a3",
        "name": "",
        "label": "red",
        "tooltip": "",
        "order": 17,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "red",
        "topicType": "str",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "1",
        "max": "5",
        "step": "0.05",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 350,
        "y": 940,
        "wires": [
            [
                "304c6693be0dabe9"
            ]
        ]
    },
    {
        "id": "304c6693be0dabe9",
        "type": "function",
        "z": "399ca45d618adeb6",
        "g": "3293aa1bae69e6eb",
        "name": "gain",
        "func": "msg.payload = {\n    \"action\":\"settings\", \n    \"settings\":{\"white_balance_gain\":{\n        [msg.topic]:Math.round(msg.payload*100)\n        }\n    }\n}\nmsg.topic = \"imager/image\"\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 960,
        "wires": [
            [
                "2f8eb65b067bb4e9"
            ]
        ]
    },
    {
        "id": "9023fc06dedc6f54",
        "type": "ui-slider",
        "z": "399ca45d618adeb6",
        "g": "3293aa1bae69e6eb",
        "group": "39754cf04b80d5a3",
        "name": "",
        "label": "blue",
        "tooltip": "",
        "order": 16,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "blue",
        "topicType": "str",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "1",
        "max": "5",
        "step": "0.05",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 350,
        "y": 980,
        "wires": [
            [
                "304c6693be0dabe9"
            ]
        ]
    },
    {
        "id": "2f8eb65b067bb4e9",
        "type": "mqtt out",
        "z": "399ca45d618adeb6",
        "g": "3293aa1bae69e6eb",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "8dc3722c.06efa8",
        "x": 790,
        "y": 960,
        "wires": []
    },
    {
        "id": "4ac0b5acb89c774f",
        "type": "ui-slider",
        "z": "399ca45d618adeb6",
        "g": "3293aa1bae69e6eb",
        "group": "39754cf04b80d5a3",
        "name": "ISO",
        "label": "ISO",
        "tooltip": "",
        "order": 18,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "iso",
        "topicType": "str",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "50",
        "max": "500",
        "step": "50",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 350,
        "y": 1060,
        "wires": [
            [
                "454df1bbf5fe4e94"
            ]
        ]
    },
    {
        "id": "454df1bbf5fe4e94",
        "type": "function",
        "z": "399ca45d618adeb6",
        "g": "3293aa1bae69e6eb",
        "name": "settings",
        "func": "msg.payload = {\n    \"action\":\"settings\", \n    \"settings\":{[msg.topic]:msg.payload}\n}\n\nmsg.topic = \"imager/image\"\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1060,
        "wires": [
            [
                "62030521.88317c"
            ]
        ]
    },
    {
        "id": "ef6743a921d91f11",
        "type": "inject",
        "z": "399ca45d618adeb6",
        "g": "3293aa1bae69e6eb",
        "name": "Default: ISO 150",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "150",
        "payloadType": "num",
        "x": 170,
        "y": 1060,
        "wires": [
            [
                "4ac0b5acb89c774f"
            ]
        ]
    },
    {
        "id": "6aded0fdf9f220bb",
        "type": "ui-slider",
        "z": "399ca45d618adeb6",
        "g": "3293aa1bae69e6eb",
        "group": "39754cf04b80d5a3",
        "name": "Shutter Speed",
        "label": "Shutter Speed",
        "tooltip": "",
        "order": 19,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "shutter_speed",
        "topicType": "str",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "125",
        "max": "300",
        "step": "10",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 380,
        "y": 1120,
        "wires": [
            [
                "454df1bbf5fe4e94"
            ]
        ]
    },
    {
        "id": "6cad24e4aaf8aac5",
        "type": "inject",
        "z": "399ca45d618adeb6",
        "g": "3293aa1bae69e6eb",
        "name": "Default: 125µs",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "125",
        "payloadType": "num",
        "x": 180,
        "y": 1120,
        "wires": [
            [
                "6aded0fdf9f220bb"
            ]
        ]
    },
    {
        "id": "4b85a23ed7b4f558",
        "type": "function",
        "z": "0df478d7aa1e10a5",
        "g": "e2c5dfaa06121543",
        "name": "date_formatter",
        "func": "let formDate = msg.payload.hardware_information.acq_planktoscope_date_factory;  // Access acq_planktoscope_date_factory in the nested object\n\n// Check if the date is present and not an empty string\nif (!formDate || formDate.trim() === \"\") {\n    node.error(\"Date field is missing or undefined in payload\");\n    return null;  // Stop the flow if the date is undefined or empty\n}\n\nlet parsedDate = new Date(formDate);  // Convert the ISO date to a Date object\n\n// Check if the date is valid\nif (isNaN(parsedDate.getTime())) {\n    node.error(\"Invalid date: \" + formDate);  // Log error if the date is invalid\n    return null;  // Stop the flow if the date is invalid\n}\n\n// Extract the year, month, and day in YYYY/MM/DD format\nlet year = parsedDate.getFullYear().toString();  // Get the full year\nlet month = ('0' + (parsedDate.getMonth() + 1)).slice(-2);  // Ensure two digits for the month\nlet day = ('0' + parsedDate.getDate()).slice(-2);  // Ensure two digits for the day\n\n// Format as 'YYYY/MM/DD'\nmsg.payload.hardware_information.acq_planktoscope_date_factory = `${year}/${month}/${day}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 360,
        "wires": [
            [
                "37ecb4d2b69be9dd"
            ]
        ]
    },
    {
        "id": "d32ad36222b7ea5a",
        "type": "mqtt out",
        "z": "0df478d7aa1e10a5",
        "g": "e2c5dfaa06121543",
        "name": "Write on eeprom",
        "topic": "eeprom/write_eeprom",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "be8436ef13a3006f",
        "x": 1100,
        "y": 360,
        "wires": []
    },
    {
        "id": "8c3e26d0d1b70d42",
        "type": "ui-template",
        "z": "0df478d7aa1e10a5",
        "g": "e2c5dfaa06121543",
        "group": "5e26699d667afe73",
        "page": "",
        "ui": "",
        "name": "Hardware information form",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div id=\"app\">\n    <form id=\"hardware_info_form\" @submit.prevent=\"handleSubmit\">\n\n      <!-- Planktoscope reference -->\n      <div class=\"floating-label-group\">\n        <input\n          type=\"text\"\n          v-model=\"eeprom_planktoscope_ref\"\n          maxlength=\"12\"\n          required\n          @focus=\"handleFocus('eeprom_planktoscope_ref')\"\n          @blur=\"handleBlur('eeprom_planktoscope_ref')\"\n        />\n        <label\n          :class=\"{ active: eeprom_planktoscope_ref || isFocused.eeprom_planktoscope_ref, blue: isFocused.eeprom_planktoscope_ref }\"\n          >Planktoscope reference*</label\n        >\n      </div>\n\n      <!-- Planktoscope serial number -->\n      <div class=\"floating-label-group\">\n        <input\n          type=\"text\"\n          v-model=\"acq_planktoscope_sn\"\n          maxlength=\"6\"\n          required\n          @focus=\"handleFocus('acq_planktoscope_sn')\"\n          @blur=\"handleBlur('acq_planktoscope_sn')\"\n        />\n        <label\n          :class=\"{\n            active: acq_planktoscope_sn || isFocused.acq_planktoscope_sn,\n            blue: isFocused.acq_planktoscope_sn,\n          }\"\n          >Planktoscope serial number*</label\n        >\n      </div>\n\n      <!-- Planktoscope version -->\n      <div class=\"floating-label-group\">\n        <input\n          type=\"text\"\n          v-model=\"acq_planktoscope_version\"\n          maxlength=\"6\"\n          required\n          @focus=\"handleFocus('acq_planktoscope_version')\"\n          @blur=\"handleBlur('acq_planktoscope_version')\"\n        />\n        <label\n          :class=\"{\n            active: acq_planktoscope_version || isFocused.acq_planktoscope_version,\n            blue: isFocused.acq_planktoscope_version,\n          }\"\n          >Planktoscope version*</label\n        >\n      </div>\n\n      <!-- Fabrication date -->\n      <div class=\"fabr-date-field\">\n        <label for=\"acq_planktoscope_date_factory\">Fabrication date*</label>\n        <input\n          type=\"date\"\n          v-model=\"acq_planktoscope_date_factory\"\n          required\n        />\n      </div>\n\n      <!-- Hat serial number -->\n      <div class=\"floating-label-group\">\n        <input\n                type=\"text\"\n                v-model=\"acq_hat_sn\"\n                maxlength=\"11\"\n                required\n                @focus=\"handleFocus('acq_hat_sn')\"\n                @blur=\"handleBlur('acq_hat_sn')\"\n              />\n        <label\n                :class=\"{\n                  active: acq_hat_sn || isFocused.acq_hat_sn,\n                  blue: isFocused.acq_hat_sn,\n                }\"\n                >Hat serial number*</label>\n      </div>\n\n      <!-- Hat version -->\n      <div class=\"floating-label-group\">\n        <input\n                type=\"text\"\n                v-model=\"acq_hat_version\"\n                maxlength=\"6\"\n                required\n                @focus=\"handleFocus('acq_hat_version')\"\n                @blur=\"handleBlur('acq_hat_version')\"\n              />\n        <label\n                :class=\"{\n                  active: acq_hat_version || isFocused.acq_hat_version,\n                  blue: isFocused.acq_hat_version,\n                }\"\n                >Hat version*</label>\n      </div>\n\n      <!-- Driver reference -->\n      <div class=\"floating-label-group\">\n        <input\n                type=\"text\"\n                v-model=\"eeprom_driver_ref\"\n                maxlength=\"12\"\n                required\n                @focus=\"handleFocus('eeprom_driver_ref')\"\n                @blur=\"handleBlur('eeprom_driver_ref')\"\n              />\n        <label\n                :class=\"{\n                  active: eeprom_driver_ref || isFocused.eeprom_driver_ref,\n                  blue: isFocused.eeprom_driver_ref,\n                }\"\n                >Driver reference*</label>\n      </div>\n\n      <!-- Pump reference -->\n      <div class=\"floating-label-group\">\n        <input\n                type=\"text\"\n                v-model=\"eeprom_pump_ref\"\n                maxlength=\"12\"\n                required\n                @focus=\"handleFocus('eeprom_pump_ref')\"\n                @blur=\"handleBlur('eeprom_pump_ref')\"\n              />\n        <label\n                :class=\"{\n                  active: eeprom_pump_ref || isFocused.eeprom_pump_ref,\n                  blue: isFocused.eeprom_pump_ref,\n                }\"\n                >Pump reference*</label>\n      </div>\n\n      <!-- Stepper focus reference -->\n      <div class=\"floating-label-group\">\n        <input\n                type=\"text\"\n                v-model=\"eeprom_focus_ref\"\n                maxlength=\"12\"\n                required\n                @focus=\"handleFocus('eeprom_focus_ref')\"\n                @blur=\"handleBlur('eeprom_focus_ref')\"\n              />\n        <label\n                :class=\"{\n                  active: eeprom_focus_ref || isFocused.eeprom_focus_ref,\n                  blue: isFocused.eeprom_focus_ref,\n                }\"\n                >Stepper focus reference*</label>\n      </div>\n\n      <!-- Objective lens reference -->\n      <div class=\"floating-label-group\">\n        <input\n                type=\"text\"\n                v-model=\"eeprom_obj_lens_ref\"\n                maxlength=\"12\"\n                required\n                @focus=\"handleFocus('eeprom_obj_lens_ref')\"\n                @blur=\"handleBlur('eeprom_obj_lens_ref')\"\n              />\n        <label\n                :class=\"{\n                  active: eeprom_obj_lens_ref || isFocused.eeprom_obj_lens_ref,\n                  blue: isFocused.eeprom_obj_lens_ref,\n                }\"\n                >Objective lens reference*</label>\n      </div>\n\n      <!-- Tube lens reference -->\n      <div class=\"floating-label-group\">\n        <input\n                type=\"text\"\n                v-model=\"eeprom_tube_lens_ref\"\n                maxlength=\"12\"\n                required\n                @focus=\"handleFocus('eeprom_tube_lens_ref')\"\n                @blur=\"handleBlur('eeprom_tube_lens_ref')\"\n              />\n        <label\n                :class=\"{\n                  active: eeprom_tube_lens_ref || isFocused.eeprom_tube_lens_ref,\n                  blue: isFocused.eeprom_tube_lens_ref,\n                }\"\n                >Tube lens reference*</label>\n      </div>\n\n      <!-- Flowcell width -->\n      <div class=\"floating-label-group\">\n        <input\n                type=\"text\"\n                v-model=\"eeprom_flowcell_thickness\"\n                maxlength=\"12\"\n                required\n                @focus=\"handleFocus('eeprom_flowcell_thickness')\"\n                @blur=\"handleBlur('eeprom_flowcell_thickness')\"\n              />\n        <label\n                :class=\"{\n                  active: eeprom_flowcell_thickness || isFocused.eeprom_flowcell_thickness,\n                  blue: isFocused.eeprom_flowcell_thickness,\n                }\"\n                >Flowcell width*</label>\n      </div>\n\n      <!-- LED reference -->\n      <div class=\"floating-label-group\">\n        <input\n                type=\"text\"\n                v-model=\"eeprom_led_ref\"\n                maxlength=\"12\"\n                required\n                @focus=\"handleFocus('eeprom_led_ref')\"\n                @blur=\"handleBlur('eeprom_led_ref')\"\n              />\n        <label\n                :class=\"{\n                  active: eeprom_led_ref || isFocused.eeprom_led_ref,\n                  blue: isFocused.eeprom_led_ref,\n                }\"\n                >LED reference*</label>\n      </div>\n\n      <div class=\"form-buttons\">\n        <button type=\"submit\">Save</button>\n        <button type=\"button\" class=\"cancel\" @click=\"resetForm\">Cancel</button>\n      </div>\n\n      <div v-if=\"message\" class=\"save-message\">\n        {{ message }}\n      </div>\n    </form>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n      eeprom_planktoscope_ref: \"\",\n      acq_planktoscope_sn: \"\",\n      acq_planktoscope_version: \"\",\n      acq_planktoscope_date_factory: \"\",\n      acq_hat_sn: \"\",\n      acq_hat_version: \"\",\n      eeprom_driver_ref:\"\",\n      eeprom_pump_ref: \"\",\n      eeprom_focus_ref: \"\",\n      eeprom_obj_lens_ref: \"\",\n      eeprom_tube_lens_ref: \"\",\n      eeprom_flowcell_thickness: \"\",\n      eeprom_led_ref: \"\",\n      isFocused: {\n        eeprom_planktoscope_ref: false,\n        acq_planktoscope_sn: false,\n        acq_planktoscope_version: false,\n        acq_hat_sn: false,\n        acq_hat_version: false,\n        eeprom_driver_ref: false,\n        eeprom_pump_ref: false,\n        eeprom_focus_ref: false,\n        eeprom_obj_lens_ref: false,\n        eeprom_tube_lens_ref: false,\n        eeprom_flowcell_thickness: false,\n        eeprom_led_ref: false,\n      },\n    };\n  },\n  methods: {\n    handleFocus: function(field) {\n      this.isFocused[field] = true;\n    },\n    handleBlur: function(field) {\n      this.isFocused[field] = false;\n    },\n    handleSubmit: function() {\n\n      const hardware_information = {\n        eeprom_planktoscope_ref: this.eeprom_planktoscope_ref,\n        acq_planktoscope_sn: this.acq_planktoscope_sn,\n        acq_planktoscope_version: this.acq_planktoscope_version,\n        acq_planktoscope_date_factory: this.acq_planktoscope_date_factory,\n        acq_hat_sn: this.acq_hat_sn,\n        acq_hat_version: this.acq_hat_version,\n        eeprom_driver_ref: this.eeprom_driver_ref,\n        eeprom_pump_ref: this.eeprom_pump_ref,\n        eeprom_focus_ref: this.eeprom_focus_ref,\n        eeprom_obj_lens_ref: this.eeprom_obj_lens_ref,\n        eeprom_tube_lens_ref: this.eeprom_tube_lens_ref,\n        eeprom_flowcell_thickness: this.eeprom_flowcell_thickness,\n        eeprom_led_ref: this.eeprom_led_ref,\n      };\n\n      this.message = \"Hardware information saved to EEPROM :)\";\n\n      this.send({\n        topic: \"hardware_information\",\n        payload: {\n          action: \"write_eeprom\",\n          hardware_information\n        },\n      });\n\n      this.resetForm()\n    },\n    resetForm: function() {\n      this.eeprom_planktoscope_ref = \"\";\n      this.acq_planktoscope_sn = \"\";\n      this.acq_planktoscope_version = \"\";\n      this.acq_planktoscope_date_factory = \"\";\n      this.acq_hat_sn = \"\";\n      this.acq_hat_version = \"\";\n      this.eeprom_driver_ref = \"\";\n      this.eeprom_pump_ref = \"\";\n      this.eeprom_focus_ref = \"\";\n      this.eeprom_obj_lens_ref = \"\";\n      this.eeprom_tube_lens_ref = \"\";\n      this.eeprom_flowcell_thickness = \"\";\n      this.eeprom_led_ref = \"\";\n      \n    },\n  },\n};\n</script>\n\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 340,
        "y": 360,
        "wires": [
            [
                "4b85a23ed7b4f558"
            ]
        ]
    },
    {
        "id": "e4d43547c15a5506",
        "type": "ui-template",
        "z": "0df478d7aa1e10a5",
        "g": "f7ed36ef581713f0",
        "group": "",
        "page": "59cc605d293a634c",
        "ui": "",
        "name": "Page CSS",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "#hardware_info_form {\n    margin-top: 1.5em;\n}\n\n.floating-label-group {\n    position: relative;\n    margin-bottom: 1.5em;\n}\n\n.floating-label-group input {\n    font-size: 16px;\n    padding: 10px 10px 6px 5px;\n    display: block;\n    width: 100%;\n    border: none;\n    border-bottom: 1px solid #1E90FF;\n    background: none;\n}\n\n.floating-label-group input:focus {\n    outline: none;\n    border-bottom: 2px solid #1E90FF;\n}\n\n.floating-label-group label {\n    color: black;\n    font-size: 16px;\n    font-weight: normal;\n    position: absolute;\n    pointer-events: none;\n    left: 5px;\n    top: 0;\n    transition: 0.2s ease all;\n    padding: 10px 0;\n}\n\n/* When the label is active (input has text or focused) */\n.floating-label-group label.active {\n    top: -20px;\n    font-size: 12px;\n}\n\n/* When the input is focused, make the label blue */\n.floating-label-group label.blue {\n    color: #00BFFF;\n}\n\n.fabr-date-field {\n    display: flex;\n    flex-direction: column;\n    margin-bottom: 1.5em;\n    font-size: 16px;\n    color: black;\n    border-bottom: 1px solid #1E90FF;\n}\n\n.form-buttons {\n    display: flex;\n    justify-content: center;\n    gap: 3em;\n}\n\n.form-buttons button {\n    padding: 0.5em 1em;\n    border: none;\n    background-color: #1E90FF;\n    color: white;\n    cursor: pointer;\n    font-size: 16px;\n    border-radius: 4px;\n}\n\n.form-buttons button:hover {\n    opacity: 0.9;\n}\n\n.save-message {\n    text-align: center;\n    margin-top: 1em;\n    color: #18a205;\n    font-weight: bold;\n    font-size: 16px;\n}\n\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 290,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "37ecb4d2b69be9dd",
        "type": "function",
        "z": "0df478d7aa1e10a5",
        "g": "e2c5dfaa06121543",
        "name": "prepare_payload",
        "func": "var data = {};\ndata = msg.payload; \nmsg.payload = data;  \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 360,
        "wires": [
            [
                "d32ad36222b7ea5a"
            ]
        ]
    },
    {
        "id": "853953d676cfb245",
        "type": "mqtt in",
        "z": "4da7ffd158faab70",
        "g": "d08823995cfedc57",
        "name": "Read from eeprom",
        "topic": "eeprom/read_eeprom",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "be8436ef13a3006f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 380,
        "wires": [
            [
                "f79846bca95415c1"
            ]
        ]
    },
    {
        "id": "1153edeed6cf2ad3",
        "type": "function",
        "z": "4da7ffd158faab70",
        "g": "d08823995cfedc57",
        "name": "Get edited data",
        "func": "if (msg.topic === 'form_submission') {\n    return msg\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 380,
        "wires": [
            [
                "72525589ac3bc508"
            ]
        ]
    },
    {
        "id": "72525589ac3bc508",
        "type": "mqtt out",
        "z": "4da7ffd158faab70",
        "g": "d08823995cfedc57",
        "name": "Edit eeprom",
        "topic": "eeprom/edit_eeprom",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "be8436ef13a3006f",
        "x": 1130,
        "y": 380,
        "wires": []
    },
    {
        "id": "ee0f73af31f90cff",
        "type": "mqtt out",
        "z": "4da7ffd158faab70",
        "g": "33c355b642af2a8b",
        "name": "Read request",
        "topic": "eeprom/read_request",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "be8436ef13a3006f",
        "x": 430,
        "y": 580,
        "wires": []
    },
    {
        "id": "51bf8a7a25dafecb",
        "type": "ui-template",
        "z": "4da7ffd158faab70",
        "g": "d08823995cfedc57",
        "group": "ab08cb925353de79",
        "page": "",
        "ui": "",
        "name": "Display/Edit data",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div id=\"hardware-field\">\n    <div id=\"title-div\">\n      <h1>Your Planktoscope Hardware Components</h1>\n    </div>\n    <div id=\"hardware-list\">\n        <!-- Planktoscope reference -->\n        <div class=\"field-container\" id=\"eeprom_planktoscope_ref-div\">\n            <strong>Planktoscope reference: </strong>\n            <span v-if=\"!editMode.eeprom_planktoscope_ref\" class=\"non-editable\">{{ formData.eeprom_planktoscope_ref }}</span>\n            <input v-if=\"editMode.eeprom_planktoscope_ref\" type=\"text\" v-model=\"formData.eeprom_planktoscope_ref\">\n        </div>\n\n        <!-- Serial number -->\n        <div class=\"field-container\" id=\"acq_planktoscope_sn-div\">\n            <strong>Serial Number: </strong>\n            <span v-if=\"!editMode.acq_planktoscope_sn\" class=\"non-editable\">{{ formData.acq_planktoscope_sn }}</span>\n            <input v-if=\"editMode.acq_planktoscope_sn\" type=\"text\" v-model=\"formData.acq_planktoscope_sn\">\n        </div>\n\n        <!-- Version -->\n        <div class=\"field-container\" id=\"acq_planktoscope_version-div\">\n            <strong>Version: </strong>\n            <span v-if=\"!editMode.acq_planktoscope_version\" class=\"non-editable\">{{ formData.acq_planktoscope_version }}</span>\n            <input v-if=\"editMode.acq_planktoscope_version\" type=\"text\" v-model=\"formData.acq_planktoscope_version\">\n        </div>\n\n        <!-- Fabrication date -->\n        <div class=\"field-container\" id=\"acq_planktoscope_date_factory-div\">\n            <strong>Fabrication Date: </strong>\n            <span v-if=\"!editMode.acq_planktoscope_date_factory\" class=\"non-editable\">{{ formData.acq_planktoscope_date_factory }}</span>\n            <input v-if=\"editMode.acq_planktoscope_date_factory\" type=\"text\" v-model=\"formData.acq_planktoscope_date_factory\">\n        </div>\n\n        <!-- Hat serial number -->\n        <div class=\"field-container\" id=\"acq_hat_sn-div\">\n          <strong>Hat serial number: </strong>\n          <span v-if=\"!editMode.acq_hat_sn\">{{ formData.acq_hat_sn }}</span>\n          <input v-if=\"editMode.acq_hat_sn\" type=\"text\" v-model=\"formData.acq_hat_sn\" maxlength=\"11\">\n          <div class=\"button-container\">\n            <button v-if=\"!editMode.acq_hat_sn\" @click=\"editValue('acq_hat_sn')\">\n              <i class=\"material-icons\">edit</i>\n            </button>\n            <button v-if=\"editMode.acq_hat_sn\" @click=\"saveValue('acq_hat_sn')\">\n              <i class=\"material-icons\">check</i>\n            </button>\n          </div>\n        </div>\n\n        <!-- Hat version -->\n        <div class=\"field-container\" id=\"acq_hat_version-div\">\n          <strong>Hat version: </strong>\n          <span v-if=\"!editMode.acq_hat_version\">{{ formData.acq_hat_version }}</span>\n          <input v-if=\"editMode.acq_hat_version\" type=\"text\" v-model=\"formData.acq_hat_version\" maxlength=\"6\">\n          <div class=\"button-container\">\n            <button v-if=\"!editMode.acq_hat_version\" @click=\"editValue('acq_hat_version')\">\n              <i class=\"material-icons\">edit</i>\n            </button>\n            <button v-if=\"editMode.acq_hat_version\" @click=\"saveValue('acq_hat_version')\">\n              <i class=\"material-icons\">check</i>\n            </button>\n          </div>\n        </div>\n\n        <!-- Driver reference -->\n        <div class=\"field-container\" id=\"eeprom_driver_ref-div\">\n          <strong>Driver reference: </strong>\n          <span v-if=\"!editMode.eeprom_driver_ref\">{{ formData.eeprom_driver_ref }}</span>\n          <input v-if=\"editMode.eeprom_driver_ref\" type=\"text\" v-model=\"formData.eeprom_driver_ref\" maxlength=\"12\">\n          <div class=\"button-container\">\n            <button v-if=\"!editMode.eeprom_driver_ref\" @click=\"editValue('eeprom_driver_ref')\">\n              <i class=\"material-icons\">edit</i>\n            </button>\n            <button v-if=\"editMode.eeprom_driver_ref\" @click=\"saveValue('eeprom_driver_ref')\">\n              <i class=\"material-icons\">check</i>\n            </button>\n          </div>\n        </div>\n\n        <!-- Pump reference -->\n        <div class=\"field-container\" id=\"eeprom_pump_ref-div\">\n          <strong>Pump reference: </strong>\n          <span v-if=\"!editMode.eeprom_pump_ref\">{{ formData.eeprom_pump_ref}}</span>\n          <input v-if=\"editMode.eeprom_pump_ref\" type=\"text\" v-model=\"formData.eeprom_pump_ref\" maxlength=\"12\">\n          <div class=\"button-container\">\n            <button v-if=\"!editMode.eeprom_pump_ref\" @click=\"editValue('eeprom_pump_ref')\">\n              <i class=\"material-icons\">edit</i>\n            </button>\n            <button v-if=\"editMode.eeprom_pump_ref\" @click=\"saveValue('eeprom_pump_ref')\">\n              <i class=\"material-icons\">check</i>\n            </button>\n          </div>\n        </div>\n\n        <!-- Stepper focus reference -->\n        <div class=\"field-container\" id=\"eeprom_focus_ref-div\">\n          <strong>Stepper focus reference: </strong>\n          <span v-if=\"!editMode.eeprom_focus_ref\">{{ formData.eeprom_focus_ref }}</span>\n          <input v-if=\"editMode.eeprom_focus_ref\" type=\"text\" v-model=\"formData.eeprom_focus_ref\" maxlength=\"12\">\n          <div class=\"button-container\">\n            <button v-if=\"!editMode.eeprom_focus_ref\" @click=\"editValue('eeprom_focus_ref')\">\n              <i class=\"material-icons\">edit</i>\n            </button>\n            <button v-if=\"editMode.eeprom_focus_ref\" @click=\"saveValue('eeprom_focus_ref')\">\n              <i class=\"material-icons\">check</i>\n            </button>\n          </div>\n        </div>\n\n        <!-- Objective lens reference -->\n        <div class=\"field-container\" id=\"eeprom_obj_lens_ref-div\">\n          <strong>Objective lens reference: </strong>\n          <span v-if=\"!editMode.eeprom_obj_lens_ref\">{{ formData.eeprom_obj_lens_ref }}</span>\n          <input v-if=\"editMode.eeprom_obj_lens_ref\" type=\"text\" v-model=\"formData.eeprom_obj_lens_ref\" maxlength=\"12\">\n          <div class=\"button-container\">\n            <button v-if=\"!editMode.eeprom_obj_lens_ref\" @click=\"editValue('eeprom_obj_lens_ref')\">\n              <i class=\"material-icons\">edit</i>\n            </button>\n            <button v-if=\"editMode.eeprom_obj_lens_ref\" @click=\"saveValue('eeprom_obj_lens_ref')\">\n              <i class=\"material-icons\">check</i>\n            </button>\n          </div>\n        </div>\n\n        <!-- Tube lens reference -->\n        <div class=\"field-container\" id=\"eeprom_tube_lens_ref-div\">\n          <strong>Tube lens reference: </strong>\n          <span v-if=\"!editMode.eeprom_tube_lens_ref\">{{ formData.eeprom_tube_lens_ref }}</span>\n          <input v-if=\"editMode.eeprom_tube_lens_ref\" type=\"text\" v-model=\"formData.eeprom_tube_lens_ref\" maxlength=\"12\">\n          <div class=\"button-container\">\n            <button v-if=\"!editMode.eeprom_tube_lens_ref\" @click=\"editValue('eeprom_tube_lens_ref')\">\n              <i class=\"material-icons\">edit</i>\n            </button>\n            <button v-if=\"editMode.eeprom_tube_lens_ref\" @click=\"saveValue('eeprom_tube_lens_ref')\">\n              <i class=\"material-icons\">check</i>\n            </button>\n          </div>\n        </div>\n\n        <!-- Flowcell width -->\n        <div class=\"field-container\" id=\"eeprom_flowcell_thickness-div\">\n          <strong>Flowcell width: </strong>\n          <span v-if=\"!editMode.eeprom_flowcell_thickness\">{{ formData.eeprom_flowcell_thickness }}</span>\n          <input v-if=\"editMode.eeprom_flowcell_thickness\" type=\"text\" v-model=\"formData.eeprom_flowcell_thickness\" maxlength=\"12\">\n          <div class=\"button-container\">\n            <button v-if=\"!editMode.eeprom_flowcell_thickness\" @click=\"editValue('eeprom_flowcell_thickness')\">\n              <i class=\"material-icons\">edit</i>\n            </button>\n            <button v-if=\"editMode.eeprom_flowcell_thickness\" @click=\"saveValue('eeprom_flowcell_thickness')\">\n                <i class=\"material-icons\">check</i>\n            </button>\n          </div>\n        </div>\n\n        <!-- LED reference-->\n        <div class=\"field-container\" id=\"eeprom_led_ref-div\">\n            <strong>LED reference: </strong>\n            <span v-if=\"!editMode.eeprom_led_ref\">{{ formData.eeprom_led_ref }}</span>\n            <input v-if=\"editMode.eeprom_led_ref\" type=\"text\" v-model=\"formData.eeprom_led_ref\" maxlength=\"12\">\n            <div class=\"button-container\">\n              <button v-if=\"!editMode.eeprom_led_ref\" @click=\"editValue('eeprom_led_ref')\">\n                <i class=\"material-icons\">edit</i>\n              </button>\n              <button v-if=\"editMode.eeprom_led_ref\" @click=\"saveValue('eeprom_led_ref')\">\n                <i class=\"material-icons\">check</i>\n              </button>\n            </div>\n        </div>\n    </div>\n  </div>\n</template>\n\n<script>\n  export default {\n      data() {\n        return {\n          formData: {\n            eeprom_planktoscope_ref: '',\n            acq_planktoscope_sn: '',\n            acq_planktoscope_version: '',\n            acq_planktoscope_date_factory: '',\n            acq_hat_sn: '',\n            acq_hat_version: '',\n            eeprom_driver_ref: '',\n            eeprom_pump_ref: '',\n            eeprom_focus_ref: '',\n            eeprom_obj_lens_ref: '',\n            eeprom_tube_lens_ref: '',\n            eeprom_flowcell_thickness: '',\n            eeprom_led_ref: ''\n          },\n          editMode: {\n            eeprom_planktoscope_ref: false,\n            acq_planktoscope_sn: false,\n            acq_planktoscope_version: false,\n            acq_planktoscope_date_factory: false,\n            acq_hat_sn: false,\n            acq_hat_version: false,\n            eeprom_driver_ref: false,\n            eeprom_pump_ref: false,\n            eeprom_focus_ref: false,\n            eeprom_obj_lens_ref: false,\n            eeprom_tube_lens_ref: false,\n            eeprom_flowcell_thickness: false,\n            eeprom_led_ref: false\n          },\n          changedPayload: {}\n        };\n      },\n      mounted() {\n        // Instead of MQTT directly, you can listen for data coming from the Node-RED function node\n        this.$watch('msg.payload', (newPayload) => {\n          // Assign the data from the payload to formData\n          this.formData.eeprom_planktoscope_ref = newPayload.eeprom_planktoscope_ref || '';\n          this.formData.acq_planktoscope_sn = newPayload.acq_planktoscope_sn || '';\n          this.formData.acq_planktoscope_version = newPayload.acq_planktoscope_version || '';\n          this.formData.acq_planktoscope_date_factory = newPayload.acq_planktoscope_date_factory || '';\n          this.formData.acq_hat_sn = newPayload.acq_hat_sn || '';\n          this.formData.acq_hat_version = newPayload.acq_hat_version || '';\n          this.formData.eeprom_driver_ref = newPayload.eeprom_driver_ref || '';\n          this.formData.eeprom_pump_ref = newPayload.eeprom_pump_ref || '';\n          this.formData.eeprom_focus_ref = newPayload.eeprom_focus_ref || '';\n          this.formData.eeprom_obj_lens_ref = newPayload.eeprom_obj_lens_ref || '';\n          this.formData.eeprom_tube_lens_ref = newPayload.eeprom_tube_lens_ref || '';\n          this.formData.eeprom_flowcell_thickness = newPayload.eeprom_flowcell_thickness || '';\n          this.formData.eeprom_led_ref = newPayload.eeprom_led_ref || '';\n        });\n\n        const link = document.createElement('link');\n        link.href = 'https://fonts.googleapis.com/icon?family=Material+Icons';\n        link.rel = 'stylesheet';\n        document.head.appendChild(link);\n      },\n      methods: {\n        editValue: function(key) {\n          this.editMode[key] = true;\n        },\n        saveValue: function(key) {\n          this.editMode[key] = false;  \n          this.changedPayload[key] = this.formData[key]; \n\n          // Send the payload to the next node\n          this.send({\n              topic: \"form_submission\",\n              payload: {\n                  action: \"edit_eeprom\",\n                  ...this.changedPayload\n                  \n              },\n          });\n\n          // Clear the changedPayload after sending\n          this.changedPayload = {};\n\n        }\n      }\n    };\n</script>\n\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 650,
        "y": 380,
        "wires": [
            [
                "1153edeed6cf2ad3"
            ]
        ]
    },
    {
        "id": "11928dc1ab250e33",
        "type": "ui-template",
        "z": "4da7ffd158faab70",
        "g": "33c355b642af2a8b",
        "group": "ab08cb925353de79",
        "page": "",
        "ui": "",
        "name": "Send msg on load",
        "order": 2,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<script>\n  export default {\n    data() {\n      return {\n        message: {\n          topic: \"eeprom/read_request\",\n          payload: {\n            action: \"read_eeprom\"\n          }\n        }\n      };\n    },\n\n    mounted() {\n      this.sendReadRequest();\n    },\n\n    methods: {\n      sendReadRequest: function () {\n        this.send(this.message); \n      }\n    }\n  }\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "ee0f73af31f90cff"
            ]
        ]
    },
    {
        "id": "f79846bca95415c1",
        "type": "function",
        "z": "4da7ffd158faab70",
        "g": "d08823995cfedc57",
        "name": "date_formatter",
        "func": "let acq_planktoscope_date_factory_str = msg.payload[\"acq_planktoscope_date_factory\"];\n\n// Parse the date string in YYYYMMDD format\nlet year = acq_planktoscope_date_factory_str.substring(0, 4);\nlet month = acq_planktoscope_date_factory_str.substring(4, 6);\nlet day = acq_planktoscope_date_factory_str.substring(6, 8);\n\n// Create a Date object using the parsed values\nlet date_obj = new Date(`${year}-${month}-${day}`);\n\n// Format the date as YYYY/MM/DD\nlet formatted_date = `${year}/${month}/${day}`;\n\n// Update the payload with the formatted date\nmsg.payload[\"acq_planktoscope_date_factory\"] = formatted_date;\n\nreturn { topic: \"data_to_display\", payload: msg.payload };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 380,
        "wires": [
            [
                "51bf8a7a25dafecb"
            ]
        ]
    },
    {
        "id": "69d3ef26cf83569c",
        "type": "ui-template",
        "z": "4da7ffd158faab70",
        "g": "360380a58dfc0f80",
        "group": "",
        "page": "5ce27e761fdb9796",
        "ui": "",
        "name": "Page CSS",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "#hardware-field {\n    border: 1px solid;\n    border-radius: 5px;\n    width: 35vw;\n    max-width: 500px;\n    margin: 0 auto;\n    display: flex;\n    flex-direction: column;\n    align-items: center;\n}\n\n#title-div {\n    background-color: #87CEFA;\n    width: 100%;\n    padding: 10px;\n    display: flex;\n    align-items: center;\n    justify-content: center;\n}\n\nh1 {\n    color: white;\n    text-align: center;\n    margin: 0;\n    font-size: 1.5rem;\n}\n\n#hardware-list {\n    display: flex;\n    flex-direction: column;\n    gap: 15px;\n    width: 100%;\n    padding: 10px;\n}\n\n.field-container {\n    display: flex;\n    align-items: center;\n    gap: 10px;\n    width: 100%;\n}\n\n.field-container strong {\n    flex: 0 0 45%;\n    text-align: left;\n    font-size: 1em;\n}\n\n.field-container span,\n.field-container input {\n    flex: 1;\n    min-width: 130px;\n    max-width: 200px;\n    padding: 5px;\n    height: 30px;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\n.field-container .non-editable {\n    background-color: #f5f5f5;\n}\n\n.field-container input {\n    border: 1px solid #ccc;\n}\n\n.button-container {\n    display: flex;\n    gap: 5px;\n}\n\nbutton {\n    padding: 5px;\n}\n\n.material-icons {\n    vertical-align: middle;\n    font-size: 1.2rem;\n}\n\n/* Media query for smaller screens */\n@media (max-width: 600px) {\n    .field-container {\n        flex-direction: column;\n        align-items: flex-start;\n    }\n\n    .field-container strong {\n        width: auto;\n    }\n\n    .field-container span,\n    .field-container input {\n        width: 100%;\n    }\n\n    .button-container {\n        justify-content: flex-start;\n        width: 100%;\n    }\n}",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 130,
        "y": 200,
        "wires": [
            []
        ]
    }
]